<template>
  <div>
    <v-progress-linear
      height="8"
      indeterminate
      :style="{
        'z-index': 5,
        position: 'sticky',
        top: 0,
      }"
      color="pink darken-4"
      v-if="loading"
    />
    <div v-if="currentFeed && currentFeed.items.length > 0" class="pb-12">
      <v-list class="mb-8" two-line>
        <v-list-item
          class="mx-auto"
          v-for="item of currentFeed.items"
          :key="item.articleUrl"
          :style="{
            opacity: item.read ? 0.5 : undefined,
            'max-width': '770px',
          }"
          :to="{
            name: 'SingleFeed',
            params: {
              articleUrl: item.articleUrl,
              feedName: item.feedName,
              articleTitle: item.title,
            },
          }"
        >
          <v-list-item-content>
            <v-list-item-subtitle class="text-right">
              {{ $d(new Date(item.date)) }}
            </v-list-item-subtitle>
            <span
              :style="{
                'word-break': 'break-word',
              }"
              class="text-h6 font-weight-medium mb-0"
            >
              {{ item.title }}
            </span>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <div v-if="!unsubed" class="d-flex justify-center mb-12">
        <v-btn
          @click="askBeforeDeleting"
          color="red accent-2"
          :disbaled="askBeforeUnsubDialog || unsubSuccessDialog"
        >
          {{ $t("pages.settings.list_user_feed_items.unsubscribe") }}
        </v-btn>
      </div>
    </div>

    <empty-feed-items-list v-else />

    <v-dialog v-model="askBeforeUnsubDialog" max-width="770px">
      <v-card>
        <v-card-title>
          {{ $t("pages.settings.list_user_feed_items.unsub_modal.title") }}
        </v-card-title>
        <v-card-text
          v-html="$t('pages.settings.list_user_feed_items.unsub_modal.content')"
        />
        <v-card-actions>
          <v-spacer />
          <v-btn text color="primary" @click="askBeforeUnsubDialog = false">
            {{ $t("pages.settings.list_user_feed_items.unsub_modal.action_cancel") }}
          </v-btn>
          <v-btn color="red accent-4" @click="unsubscribeToFeed">
            {{ $t("pages.settings.list_user_feed_items.unsub_modal.action_confirm") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="unsubSuccessDialog" max-width="770px">
      <v-card>
        <v-card-title>
          {{ $t("pages.settings.list_user_feed_items.unsub_success_modal.title") }}
        </v-card-title>
        <v-card-text
          v-html="$t('pages.settings.list_user_feed_items.unsub_success_modal.content')"
        />
        <v-card-actions>
          <v-spacer />
          <v-btn text color="primary" @click="unsubSuccessDialog = false">
            {{
              $t(
                "pages.settings.list_user_feed_items.unsub_success_modal.action_confirm"
              )
            }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="errorDialog" max-width="770px">
      <v-card>
        <v-card-title>
          {{ $t("pages.settings.list_user_feed_items.error_modal.title") }}
        </v-card-title>
        <v-card-text
          v-html="$t('pages.settings.list_user_feed_items.error_modal.content')"
        />
        <v-card-actions>
          <v-spacer />
          <v-btn text color="primary" @click="errorDialog = false">
            {{ $t("pages.settings.list_user_feed_items.error_modal.action_confirm") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import EmptyFeedItemsList from "@/components/theme/EmptyFeedItemsListAstronaut.vue";
/* eslint-disable */
import { FeedWithItems } from "@/domain/FeedWithItems";
import { FeedItem } from "@/domain/FeedItem";
import { Feed } from "@/domain/Feed";
/* eslint-enable */

interface Props {
  feedName: string;
  feedUrl: string;
}

interface Data {
  loading: boolean;
  currentFeed?: FeedWithItems;
  askBeforeUnsubDialog: boolean;
  unsubSuccessDialog: boolean;
  unsubed: boolean;
  errorDialog: boolean;
}

interface Methods {
  getCurrentFeedItems(): Promise<void>;
  askBeforeDeleting(): void;
  unsubscribeToFeed(): void;
}

export default Vue.extend<Data, Methods, {}, Props>({
  components: {
    "empty-feed-items-list": EmptyFeedItemsList,
  },
  props: {
    feedName: {
      type: String,
      required: true,
    },
    feedUrl: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      currentFeed: undefined,
      askBeforeUnsubDialog: false,
      unsubSuccessDialog: false,
      unsubed: false,
      errorDialog: false,
    };
  },
  methods: {
    async getCurrentFeedItems() {
      try {
        this.currentFeed = await this.$fb.getFeedItems({
          feedName: this.feedName,
          feedUrl: this.feedUrl,
        });
      } finally {
        this.loading = false;
      }
    },
    askBeforeDeleting() {
      this.askBeforeUnsubDialog = true;
    },
    async unsubscribeToFeed() {
      this.askBeforeUnsubDialog = false;
      this.loading = true;

      try {
        await this.$fb.unfollowFeed(this.feedUrl);
        this.unsubed = true;
        this.unsubSuccessDialog = true;
      } catch {
        this.errorDialog = true;
      } finally {
        this.loading = false;
      }
    },
  },
  async created() {
    this.getCurrentFeedItems();
  },
  beforeRouteEnter(to, _, next) {
    return to.params.feedUrl
      ? next()
      : next({ name: "UserFeeds", replace: true });
  },
});
</script>
