<template>
  <v-menu close-on-click bottom v-if="$auth.isAuthenticated" z-index="30">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" text tile class="my-2" color="primary" elevation="0">
        <user-info
          :picture="$auth.user.picture"
        />
      </v-btn>
    </template>

    <v-list>
      <v-list-item disabled style="position: relative">
        <fading-item />
        <v-btn text color="primary" class="mb-4 px-0">
          <user-info
            :picture="$auth.user.picture"
            :name="$auth.user.name"
            :email="$auth.user.email"
            unresponsive
          />
        </v-btn>
      </v-list-item>
      <v-divider />
      <v-list-item class="text-left" exact :to="{ name: 'ListFeeds' }">
        <v-list-item-icon style="font-size: 20px; margin: 13px 12px 0 0;"><v-icon>{{ iconHome }}</v-icon></v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('components.auth_menu.reading_list') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item class="text-left" exact :to="{ name: 'UserFeeds' }">
        <v-list-item-icon style="font-size: 20px; margin: 13px 12px 0 0;">
          <v-icon>{{ iconRss }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('components.auth_menu.feeds') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item class="text-left" exact :to="{ name: 'UserSettings' }">
        <v-list-item-icon style="font-size: 20px; margin: 13px 12px 0 0;">
          <v-icon>{{ iconCog }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('components.auth_menu.parameters') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider />
      <v-list-item
        style="position: relative"
        class="text-left text-no-wrap text-truncate"
        @click="logout"
      >
        <fading-item />
        {{ $t('components.auth_menu.logout', { username: $auth.user.name }) }}
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import Vue from "vue";
import { mdiCog, mdiHome, mdiRss } from "@mdi/js";
import FadingItem from "@/components/theme/FadingItem.vue";
import UserInfo from "./UserInfo.vue";
import Logoutable from "@/mixins/Logoutable";

export default Vue.extend({
  mixins: [Logoutable],
  data() {
    return {
      iconCog: mdiCog,
      iconRss: mdiRss,
      iconHome: mdiHome,
    };
  },
  components: {
    "fading-item": FadingItem,
    "user-info": UserInfo,
  },
});
</script>
