<template>
  <div
    :class="{
      'font-weight-bold logged-in-username d-flex': true,
      'white--text': isDark,
    }"
  >
    <img
      v-if="picture"
      class="mr-2"
      :alt="$t('components.auth_menu.profile_pic_alt')"
      :src="picture"
    />
    <v-icon v-else class="mr-2">{{ mdiAccountCircle }}</v-icon>
    <div
      v-if="!!name && !!email"
      :class="[
        unresponsive ? 'd-flex' : 'd-none d-md-flex',
        'flex-column',
        'align-start',
      ]"
    >
      <p class="font-weight-bold subtitle-2 ma-0">
        {{ name }}
      </p>
      <small :class="textClasses">{{ email }}</small>
    </div>
  </div>
</template>

<style>
.logged-in-username img {
  border-radius: 50%;
  max-height: 42px;
}
</style>

<script lang="ts">
import Vue from "vue";
import { mdiAccountCircle } from "@mdi/js";

export default Vue.extend({
  props: {
    picture: String,
    email: String,
    name: String,
    unresponsive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      iconAccount: mdiAccountCircle,
    };
  },
  computed: {
    isDark(): boolean {
      return this.$vuetify.theme.dark;
    },
    textClasses(): string {
      return (
        "caption grey--text" +
        (this.isDark ? "text--darken-3" : "text--lighten-2 font-weight-bold")
      );
    },
  },
});
</script>
