<template>
  <v-dialog v-model="showDialog" max-width="770px">
    <v-card>
      <v-card-title>
        {{ $t("components.news_dialog.title") }}
      </v-card-title>
      <v-card-text
        style="text-align: justify; word-break: break-word;"
        v-html="$t('components.news_dialog.content')"
      />
      <v-card-actions>
        <v-spacer />
        <v-btn @click="closeDialog">
          {{ $t("components.news_dialog.action_confirm") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";

interface Data {
  showDialog: boolean;
}

interface Methods {
  closeDialog(): void;
}

interface Computed {
  showNewsDialog: boolean;
}

export default Vue.extend<Data, Methods, Computed, {}>({
  data() {
    return { showDialog: false };
  },
  created() {
    this.showDialog = this.showNewsDialog;
  },
  computed: {
    showNewsDialog() {
      return !window.localStorage.getItem("__FB_NEWS_SHOWN__");
    },
  },
  methods: {
    closeDialog() {
      window.localStorage.setItem("__FB_NEWS_SHOWN__", "1");
      this.showDialog = false;
    },
  },
});
</script>
