<template>
  <div style="display: contents;">
    <v-col
      :cols="cols"
      :sm="sm"
      :lg="lg"
      v-for="feed of remainingFeeds"
      :key="feed.feedUrl"
    >
      <feed-card
        :name="feed.feedName"
        :to="{
          name: 'UserFeedItems',
          params: {
            feedName: feed.feedName,
            feedUrl: feed.feedUrl,
          },
        }"
      />
    </v-col>

    <fb-to-user-feeds :cols="cols" :sm="sm" :lg="lg" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters, mapState } from "vuex";
import ToUserFeeds from "./ToUserFeeds.vue";
import FeedCard from "@/components/feed-card/feed-card.vue";
/* eslint-disable */
import { BreakpointName } from "vuetify/types/services/breakpoint";
import { Feed } from "@/domain/Feed";
import { FeedWithItems } from "@/domain/FeedWithItems";
import { Actions } from "@/store/Actions";
import { Getters } from "@/store/Getters";
import { FeatherBriefState } from "@/store/useStore";
/* eslint-enable */

type BreakpointLines =
  | "lines"
  | "xs:lines"
  | "sm:lines"
  | "md:lines"
  | "lg:lines"
  | "xl:lines";

interface Computed {
  remainingFeeds: Feed[];
  nonReadingListFeeds: Feed[];
  feeds: FeedWithItems[];
  userFeeds: Feed[];
  synced: boolean;
}

interface Props extends Record<BreakpointName | BreakpointLines, number> {
  cols: number;
}

export default Vue.extend<{}, {}, Computed, Props>({
  components: {
    "fb-to-user-feeds": ToUserFeeds,
    "feed-card": FeedCard,
  },
  props: {
    xs: {
      type: Number,
      default: 6,
    },
    "xs:lines": {
      type: Number,
      default: 3,
    },
    sm: {
      type: Number,
      default: 3,
    },
    "sm:lines": {
      type: Number,
      default: 2,
    },
    md: {
      type: Number,
      default: 3,
    },
    "md:lines": {
      type: Number,
      default: 2,
    },
    lg: {
      type: Number,
      default: 2,
    },
    "lg:lines": {
      type: Number,
      default: 1,
    },
    xl: {
      type: Number,
      default: 2,
    },
    "xl:lines": {
      type: Number,
      default: 1,
    },
    lines: {
      type: Number,
      default: 3,
    },
    cols: {
      type: Number,
      default: 6,
    },
  },
  computed: {
    ...mapState({
      synced: "synced",
      // @ts-ignore
      userFeeds(state: FeatherBriefState) {
        return Array.from(state.userFeeds.filter((x) => !!x.feedUrl)).sort(
          (a, b) => {
            return (a.feedUrl as string).localeCompare(b.feedUrl as string);
          }
        );
      },
    }),
    ...mapGetters({
      feeds: Getters.notShownNorSavedFeedItems,
      nonReadingListFeeds: Getters.userFeedsNotInReadingList,
    }),
    remainingFeeds() {
      const TOTAL = 12;
      const currentBreakpoint: undefined | BreakpointName = this.$vuetify
        .breakpoint.name;
      const property = `${
        currentBreakpoint ? currentBreakpoint + ":" : ""
      }lines` as BreakpointLines;
      const lines = this[property];
      const perLine = TOTAL / this[currentBreakpoint ?? "cols"];
      const toSlice = lines * perLine - 1;

      return this.nonReadingListFeeds.slice(
        0,
        toSlice === -1 ? perLine - 1 : toSlice
      );
    },
  },
  async created() {
    if (!this.synced && this.userFeeds.length === 0) {
      await this.$store.dispatch(Actions.refreshUserFeeds);
    }
  },
});
</script>
