<template>
  <v-col :lg="lg" :sm="sm" :cols="cols">
    <feed-card
      border="orange"
      :name="$t('components.missing_feeds.to_user_feeds_rest')"
      :to="{ name: 'UserFeeds' }"
    >
      <v-icon
        medium
        :style="{
          position: 'absolute',
          top: '10px',
          right: '10px',
          zIndex: 20,
          opacity: 0.8,
        }"
        >{{ otherFeedsIcons }}</v-icon
      >
    </feed-card>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { mdiRssBox } from "@mdi/js";
import FeedCard from "@/components/feed-card/feed-card.vue";
/* eslint-disable */
import { BreakpointName } from "vuetify/types/services/breakpoint";
/* eslint-enable */

interface Data {
  otherFeedsIcons: string;
}

interface Props extends Record<BreakpointName, number> {
  cols: number;
}

export default Vue.extend<Data, {}, {}, Props>({
  components: {
    "feed-card": FeedCard,
  },
  props: {
    xs: {
      type: Number,
      required: false,
      default: 6,
    },
    sm: {
      type: Number,
      required: false,
      default: 3,
    },
    md: {
      type: Number,
      default: 3,
    },
    lg: {
      type: Number,
      default: 2,
    },
    xl: {
      type: Number,
      default: 2,
    },
    cols: {
      type: Number,
      default: 6,
    },
  },
  data() {
    return {
      otherFeedsIcons: mdiRssBox,
    };
  },
});
</script>
