<template>
  <v-dialog modal v-model="openDialog" max-width="512px">
    <v-card>
      <v-card-title>
        {{ $t("components.error_dialog.title") }}
      </v-card-title>
      <v-card-text>
        <p>
          {{ $t("components.error_dialog.introduction") }}
        </p>
        <p v-if="!!content" style="font-style: italic;">
          {{ content }}
        </p>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn primary @click="openDialog = false;">
          {{ $t("components.error_dialog.action_confirm") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    content: {
      type: String,
      required: false,
    },
    open: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      openDialog: this.open,
    };
  },
});
</script>
