<template>
  <v-theme-provider :dark="isDark" :light="!isDark">
    <v-sheet flat class="px-3">
      <div :class="['article-container', ...$attrs.class]" :style="css">
        <slot></slot>
      </div>
    </v-sheet>
  </v-theme-provider>
</template>

<script lang="ts">
import { FontFamilyVars } from "@/plugins/font-family/FontFamily.plugin";
import { Getters, ReaderSettingsStyle } from "@/store/modules/reader-settings";
import { Component, Vue } from "vue-property-decorator";

@Component({
  inheritAttrs: false,
})
export default class ArticleStyleContainer extends Vue {
  get articleWidth() {
    return this.style.maxWidth + "px";
  }

  get css() {
    let style: Record<string, any> = { ...this.style };
    delete style.theme;
    style = {
      ...style,
      fontSize: style.fontSize + "px",
      fontFamily: `var(${style.fontFamily})`,
      fontWeight: style.fontFamily === FontFamilyVars.Serif ? 600 : 500,
    };
    delete style.maxWidth;
    if (this.$vuetify.breakpoint.mdAndUp) {
      style.width = this.style.maxWidth + "px";
    }

    return style;
  }

  get isDark(): boolean {
    return this.style.theme === "dark";
  }

  get style(): ReaderSettingsStyle {
    return this.$store.getters[Getters.STYLE];
  }
}
</script>

<style>
@media screen and (min-width: 960px) {
  .article-container {
    margin: auto;
    width: 770px;
  }
}

.article-container article {
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.theme--dark .article-container article a {
  color: white;
}

.theme--light .article-container article a {
  color: black;
}

.article-container article a {
  text-decoration: underline;
}

.article-container article picture,
.article-container article figure {
  text-align: center;
}

.article-container article img,
.article-container article iframe,
.article-container article video {
  display: block;
  background-color: #ffffff80;
  max-width: 90%;
  max-height: 80vh;
  margin: 0 auto 0.5em auto;
}

.article-container article :not(pre) > code,
.article-container article pre {
  margin-bottom: 2em;
}

.v-application .article-container pre,
.article-container article pre {
  background: #011627;
  border-radius: 10px;
  color: white;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  padding: 1.3125em;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  margin-right: -32px;
  margin-left: -32px;
}

.v-application .article-container pre > code,
.article-container article code {
  color: currentColor;
  background: none;
}

.v-application .article-container :not(pre) > code,
.article-container article :not(pre) > code {
  color: currentColor;
  background: rgba(115, 124, 153, 0.2);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.article-container article hr {
  margin: 2em;
}
</style>
