<template>
  <div
    style="position: relative; overflow: hidden;"
    class="d-flex flex-row justify-start ml-4 mt-2"
  >
    <!-- this color is for dark theme -->
    <FadingItem color="#121212" />
    <a
      rel="noreferrer noopener"
      referrerpolicy="no-referrer"
      target="_blank"
      :href="item.articleUrl"
      :style="{
        color: linkColor,
      }"
      class="feed-article-url text-no-wrap text-decoration-none font-weight-bold text-caption"
    >
      <v-icon small class="mr-1" :color="linkColor" style="opacity:0.9">{{
        openInNewIcon
      }}</v-icon>
      {{ item.articleUrl }}
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import colors from "vuetify/lib/util/colors";
import { mdiOpenInNew } from "@mdi/js";
import FadingItem from "@/components/theme/FadingItem.vue";
/* eslint-disable */
import { FeedItem } from "@/domain/FeedItem";
/* eslint-enable */

@Component({ name: "tn-feed-article-url", components: { FadingItem } })
export default class FeedArticleUrl extends Vue {
  openInNewIcon = mdiOpenInNew;
  linkColor = colors.orange.lighten1;

  @Prop({ type: Object, required: false })
  item?: FeedItem;
}
</script>
