<template>
  <div v-if="isNotParsable" class="mt-5">
    <v-alert
      outlined
      color="orange lighten-1"
      type="warning"
      class="parsable-alert"
    >
      <p class="text-justify">
        {{ $t('components.feed_article.parsable_alert.notification_failure') }}
      </p>
      <FeedArticleUrl :item="item" />
    </v-alert>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import FeedArticleUrl from "./FeedArticleUrl.vue";
/* eslint-disable */
import { FeedItem } from "@/domain/FeedItem";
/* eslint-enable */

@Component({
  name: "tn-feed-article-parsable-alert",
  components: { FeedArticleUrl },
})
export default class FeedArticleParsableAlert extends Vue {
  @Prop({ type: Object, required: false })
  item?: FeedItem;

  get isNotParsable(): boolean {
    return !this.item?.parsable ?? false;
  }
}
</script>

<style>
.parsable-alert > .v-alert__wrapper > .v-alert__content {
  overflow: hidden;
}
</style>
