<template>
  <div class="mt-6 mb-12">
    <v-divider />
    <div class="mt-6 d-flex flex-column justify-center">
      <div
        class="mb-4 d-flex align-center justify-sm-center justify-space-around"
      >
        <p class="mb-0 mr-4 text-caption">
          {{ $t("components.feed_article.like_buttons.title") }}
        </p>
        <div class="d-flex align-center" v-if="$auth.isAuthenticated">
          <v-btn icon @click="likeItem" class="mr-4">
            <v-icon class="like">{{ clickedUpIcon }}</v-icon>
          </v-btn>
          <v-btn icon @click="dislikeItem" max-width="240px">
            <v-icon class="dislike">{{ clickedDownIcon }}</v-icon>
          </v-btn>
        </div>
      </div>

      <v-col md="6" offset-md="3">
        <p class="text-caption ml-5">
          {{ $t("components.feed_article.like_buttons.share") }}
        </p>
        <v-text-field
          dense
          solo
          flat
          readonly
          class="text-caption mb-4"
          color="pink darken-2"
          id="fullLink"
          type="text"
          ref="fullArticleUrlInput"
          :append-outer-icon="copyToClipboardIcon"
          :value="fullArticleUrl"
          @click:append-outer="copyArticleLink"
          @click="copyArticleLink"
        />
      </v-col>

      <v-btn
        v-if="isDownloadable"
        :disabled="downloadIsLocked"
        @click="downloadItem"
        class="mx-auto"
      >
        <v-icon style="font-size: 18px;">{{ forLaterIcon }}</v-icon>
        <span class="ml-2">
          {{ $t("components.feed_article.like_buttons.read_later") }}
        </span>
      </v-btn>
    </div>

    <v-dialog
      elevation="0"
      persistent
      class="d-flex justify-center"
      :value="isDownloading"
      max-width="224px"
    >
      <v-card class="d-flex justify-center py-6">
        <loading-icon
          :offline="downloadStatus"
          :stroke="stroke"
          :style="{ width: '90px' }"
        />
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar">
      {{ $t("components.feed_article.like_buttons.notification_success") }}
      <template v-slot:action="{ attrs }">
        <v-btn icon v-bind="attrs" @click="snackbar = false">
          <v-icon>{{ closeIcon }}</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapState } from "vuex";
import colors from "vuetify/lib/util/colors";
import {
  mdiThumbDown,
  mdiThumbDownOutline,
  mdiThumbUp,
  mdiThumbUpOutline,
  mdiClockCheckOutline,
  mdiClipboardArrowRightOutline,
  mdiClose,
} from "@mdi/js";
import LoadingIcon from "@/components/feeditems-list/LoadingIcon.vue";
/* eslint-disable */
import { FeedWithItems } from "@/domain/FeedWithItems";
import { FeedItem } from "@/domain/FeedItem";
import { Actions } from "@/store/Actions";
import { ArticleStatus } from "@/domain/ArticleStatus";
import { OfflineFeedItemStatus } from "@/domain/OfflineFeedItemStatus";
import { FeatherBriefArticleParsed } from "@/plugins/feather-brief/IFeatherBrief";
import { env, EnvVars } from "@/domain/utils/env";
/* eslint-enable */

interface Data {
  downloadIsLocked: boolean;
  downloadStatus: OfflineFeedItemStatus;
  timeout?: number;
  stroke: string;
  fullArticleUrl: string;
  snackbar: boolean;
  forLaterIcon: string;
  copyToClipboardIcon: string;
  closeIcon: string;
}

interface Methods {
  likeItem(): void;
  dislikeItem(): void;
  downloadItem(): void;
  lockDownload(): void;
  unlockDownload(): void;
  copyArticleLink(): void;
}

interface Computed {
  feedsWithItems: FeedWithItems[];
  feedItem: FeedItem | undefined;
  isDownloadable: boolean;
  isDownloading: boolean;
  clickedUp: boolean;
  clickedDown: boolean;
  clickedUpIcon: string;
  clickedDownIcon: string;
}

interface Props {
  article: FeatherBriefArticleParsed;
  articleUrl: string;
}

export default Vue.extend<Data, Methods, Computed, Props>({
  components: {
    "loading-icon": LoadingIcon,
  },
  props: {
    article: {
      type: Object,
      required: true,
    },
    articleUrl: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      downloadIsLocked: false,
      downloadStatus: OfflineFeedItemStatus.ONLINE,
      timeout: undefined,
      stroke: colors.pink.accent2,
      fullArticleUrl: new URL(
        this.$router.resolve({
          // Includes BASE_URL
          name: "Home",
          query: {
            u: this.articleUrl,
            f: this.$route.params.feedName,
          },
        }).href,
        // Transforms it into absolute URL
        window.location.origin
      ).href,
      snackbar: false,
      forLaterIcon: mdiClockCheckOutline,
      copyToClipboardIcon: mdiClipboardArrowRightOutline,
      closeIcon: mdiClose,
    };
  },
  computed: {
    ...mapState(["feedsWithItems"]),
    feedItem() {
      return this.feedsWithItems
        .flatMap((f) => f.items)
        .find((f) => f.articleUrl === this.articleUrl);
    },
    clickedUp: {
      get() {
        return this.feedItem?.upvote ?? false;
      },
    },
    clickedDown: {
      get() {
        return this.feedItem?.downvote ?? false;
      },
    },
    clickedUpIcon() {
      return this.clickedUp ? mdiThumbUp : mdiThumbUpOutline;
    },
    clickedDownIcon() {
      return this.clickedDown ? mdiThumbDown : mdiThumbDownOutline;
    },
    isDownloadable() {
      const item = this.feedItem;
      return this.$auth.isAuthenticated && !!item && !item.saved;
    },
    isDownloading() {
      return this.downloadStatus !== OfflineFeedItemStatus.ONLINE;
    },
  },
  beforeDestroy() {
    if (this.timeout) {
      clearTimeout(this.timeout);
      this.timeout = undefined;
    }
  },
  beforeRouteUpdate(_, __, next) {
    if (this.timeout) {
      clearTimeout(this.timeout);
      this.timeout = undefined;
    }
    next();
  },
  methods: {
    async likeItem() {
      this.clickedDown = false;
      this.clickedUp = true;
      await this.$store
        .dispatch({
          type: Actions.markFeedItems,
          urls: [this.articleUrl],
          status: ArticleStatus.UPVOTE,
        })
        .catch(() => {});
    },
    async dislikeItem() {
      // this.clickedUp = false;
      // this.clickedDown = true;
      await this.$store
        .dispatch({
          type: Actions.markFeedItems,
          urls: [this.articleUrl],
          status: ArticleStatus.DOWNVOTE,
        })
        .catch(() => {});
    },
    async lockDownload() {
      this.downloadStatus = OfflineFeedItemStatus.DOWNLOADING;
    },
    unlockDownload() {
      this.downloadStatus = OfflineFeedItemStatus.OFFLINE;
      return new Promise((r) => {
        // we just wait for the animation to end.
        // @see https://github.com/vuetifyjs/vuetify/blob/8ef1e36a6f87f3ff03014f3d891355d5daeb23b5/packages/vuetify/src/components/VTextField/VTextField.ts#L41
        // @ts-ignore
        this.timeout = setTimeout(r, LoadingIcon.END_ANIMATION_DURATION + 50);
      });
    },
    downloadItem() {
      const item = this.feedItem;

      if (!item) {
        return;
      }

      Promise.resolve()
        .then(() => this.lockDownload())
        .then(() => this.$store.dispatch(Actions.loading))
        .then(() => this.$fb.downloadArticle(item, this.article))
        .then(() => this.unlockDownload())
        .finally(() => this.$store.dispatch(Actions.doneLoading))
        .then(() => {
          this.$router.back();
        });
    },
    async copyArticleLink() {
      // fullArticleUrlInput is a VTextField, which has a $ref for its input.
      // @ts-ignore
      this.$refs.fullArticleUrlInput.$refs.input.select();

      if ("share" in navigator) {
        await navigator.share({ url: this.fullArticleUrl });
        this.snackbar = true;
      } else {
        this.snackbar = document.execCommand("copy");
      }
    },
  },
});
</script>
