<template>
  <v-container class="px-0">
    <header class="pb-4">
      <h2 syle="line-height: 1.2" class="mx-4 mt-2 mb-0" v-if="hasTitle">
        {{ title }}
      </h2>

      <FeedArticleUrl :item="item" v-if="item && item.parsable" />
      <FeedArticleParsableAlert :item="item" v-else-if="item" />
    </header>

    <template v-if="hasArticle">
      <article-style-container v-if="hasArticle">
        <article class="px-5 pb-6 pt-5" v-html="article.content"></article>
      </article-style-container>
      <FeedArticleLikeButtons
        :article="article"
        :articleUrl="item.articleUrl"
      />
    </template>

    <v-scale-transition v-else>
      <v-skeleton-loader type="paragraph@4" class="mt-8 mx-4" />
    </v-scale-transition>
  </v-container>
</template>

<style scoped>
.container {
  width: initial;
}
</style>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import ArticleStyleContainer from "./ArticleStyleContainer.vue";
import FeedArticleUrl from "./FeedArticleUrl.vue";
import FeedArticleParsableAlert from "./FeedArticleParsableAlert.vue";
import FeedArticleLikeButtons from "./FeedArticleLikeButtons.vue";
/* eslint-disable */
import { FeatherBriefArticleParsed } from "@/plugins/feather-brief/IFeatherBrief";
import { FeedItem } from "@/domain/FeedItem";
/* eslint-enable */

@Component({
  name: "tn-feed-article",
  components: {
    ArticleStyleContainer,
    FeedArticleUrl,
    FeedArticleParsableAlert,
    FeedArticleLikeButtons,
  },
})
export default class FeedArticle extends Vue {
  @Prop({ type: Object, required: false })
  article?: FeatherBriefArticleParsed;

  @Prop({ type: Object, required: false })
  item?: FeedItem;

  get title() {
    return this.item?.title;
  }

  get hasArticle() {
    return !!this.article;
  }

  get hasTitle() {
    return !!this.item?.title || !!this.article?.title;
  }

  @Watch("article")
  highlight() {
    // @ts-ignore
    if (window.Prism) {
      // @ts-ignore
      window.Prism.highlightAll();
    }
  }

  created() {
    this.highlight();
  }
}
</script>
