<template>
  <transition name="fade" mode="out-in">
    <loading-icon :offline="itemStatus" :stroke="stroke" v-if="isDownloading" />

    <v-menu v-model="menu" v-else>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          v-on="on"
          @click.prevent
          @mousedown.stop
          @touchstart.native.stop
          v-bind="attrs"
        >
          <v-icon>{{ verticalMenuIcon }}</v-icon>
        </v-btn>
      </template>

      <v-card style="position: relative; min-width: 200px;">
        <v-list>
          <v-list-item two-line @click="download" v-if="!item.saved">
            <v-list-item-icon class="ma-0 mr-4 align-self-center">
              <v-icon>{{ addItemToListIcon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t("components.feed_items_list.menu_read_later") }}
              </v-list-item-title>
              <v-list-item-subtitle>
                {{ $t("components.feed_items_list.menu_save") }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="deleteItem">
            <v-list-item-icon class="ma-0 mr-4 align-self-center">
              <v-icon>{{ closeIcon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t("components.feed_items_list.menu_delete") }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-btn
          @click="menu = false"
          icon
          absolute
          top
          right
          x-small
          style="opacity: 0.7"
        >
          <v-icon>{{ closeIcon }}</v-icon>
        </v-btn>
      </v-card>
    </v-menu>
  </transition>
</template>

<style scoped>
.face-enter-active,
.fade-leave-active {
  transition: opacity 300ms;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

<script lang="ts">
import Vue from "vue";
import colors from "vuetify/lib/util/colors";
import { mdiDotsVertical, mdiPlaylistPlus, mdiClose } from "@mdi/js";
/* eslint-disable */
import { OfflineFeedItemStatus } from "@/domain/OfflineFeedItemStatus";
import { FeedItem } from "@/domain/FeedItem";
/* eslint-enable */

import LoadingIcon from "./LoadingIcon.vue";

interface Data {
  menu: boolean;
  itemStatus: OfflineFeedItemStatus;
  updatedStatusAt: number;
  timeout?: number;
  stroke: string;
  verticalMenuIcon: string;
  addItemToListIcon: string;
  closeIcon: string;
}

interface Computed {
  isDownloading: boolean;
  feedName: string;
}

interface Methods {
  download(): void;
  deleteItem(): void;
}

interface Props {
  item: FeedItem;
}

export default Vue.extend<Data, Methods, Computed, Props>({
  components: {
    "loading-icon": LoadingIcon,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      menu: false,
      itemStatus: this.item.saved
        ? OfflineFeedItemStatus.OFFLINE
        : OfflineFeedItemStatus.ONLINE,
      updatedStatusAt: 0,
      stroke: colors.pink.accent2,
      verticalMenuIcon: mdiDotsVertical,
      addItemToListIcon: mdiPlaylistPlus,
      closeIcon: mdiClose,
    };
  },
  computed: {
    isDownloading() {
      switch (this.itemStatus) {
        case OfflineFeedItemStatus.DOWNLOADING:
          return true;
        case OfflineFeedItemStatus.OFFLINE:
          return Date.now() - this.updatedStatusAt < 400;
        default:
          return false;
      }
    },
    feedName() {
      return this.$route.params.feedName;
    },
  },
  beforeDestroy() {
    if (this.timeout) {
      clearTimeout(this.timeout);
    }
  },
  methods: {
    async download() {
      this.menu = false;
      this.itemStatus = OfflineFeedItemStatus.DOWNLOADING;

      await this.$fb.downloadArticle(this.item);

      this.updatedStatusAt = Date.now();
      this.itemStatus = OfflineFeedItemStatus.OFFLINE;

      this.timeout = setTimeout(() => {
        // this is here to trigger a render
        this.timeout = undefined;
        this.updatedStatusAt = 0;
      }, 1300); // this value is completely illogical, but it works 🤷
    },
    async deleteItem() {
      this.menu = false;
      this.$emit("delete");
    },
  },
});
</script>
