<template>
  <v-btn
    class="text-none"
    text
    :to="{
      name: 'FeedCategory',
      params: { feed: value, feedName: value.feedName },
    }"
  >
    <v-badge text inline :color="categoryColor" dot />
    {{ categoryLabel }}
    <v-icon small class="ml-2">
      {{ mdiPencil }}
    </v-icon>
  </v-btn>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { mdiPencil } from "@mdi/js";
import { colors } from "vuetify/lib";
import { Feed } from "@/domain/Feed";
import { Category } from "@/domain/Category";

@Component({
  name: "fb-feed-category",
})
export default class FeedCategory extends Vue {
  readonly mdiPencil = mdiPencil;
  category = Category.DEFAULT;

  @Prop({ type: Object, required: true })
  value!: Feed;

  get categoryLabel(): string {
    return this.category.label;
  }

  get categoryColor(): string {
    return colors.blue.darken1;
  }

  @Watch("value", { immediate: true })
  onFeedChange(): void {
    this.category = Category.fromFeed(this.value);
  }
}
</script>
