<template>
    <v-list :style="{ padding: 0 }">
      <feeditem-list-element
        style="max-width:770px"
        class="mx-auto"
        v-for="item of feeditems"
        :key="item.articleUrl"
        :item="item"
        :replace="feeditems.length === 1"
      />
    </v-list>
</template>

<style scoped>
.v-list-item:first-of-type {
  padding-top: 12px;
}

.v-list-item:last-of-type {
  padding-bottom: 12px;
}
</style>

<script lang="ts">
import Vue from "vue";
import FeedItemListElement from "./FeedItemListElement.vue";
// eslint-disable-next-line
import { FeedItem } from "@/domain/FeedItem";

interface Props {
  feeditems: FeedItem[];
}

export default Vue.extend<{}, {}, {}, Props>({
  components: {
    "feeditem-list-element": FeedItemListElement
  },
  props: {
    feeditems: {
      type: Array,
      required: true,
    },
  }
});
</script>
