<template>
  <v-bottom-sheet v-if="showFeedSettings">
    <template v-slot:activator="{ attrs, on }">
      <v-btn
        fixed
        bottom
        right
        fab
        color="pink darken-4"
        v-on="on"
        v-bind="attrs"
      >
        <v-icon>
          {{ mdiMenu }}
        </v-icon>
      </v-btn>
    </template>
    <v-sheet class="py-4 px-2">
      <v-container :style="{ maxWidth: '600px' }">
        <h3 class="pl-4">
          {{ $t("components.feed_settings.title", { feed: value.feedName }) }}
        </h3>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>
                {{ $t("components.feed_settings.feed_name") }}
              </v-list-item-subtitle>
              <v-list-item-title>
                {{ value.feedName }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>
                {{ $t("components.feed_settings.feed_url") }}
              </v-list-item-subtitle>
              <v-list-item-title>
                {{ value.feedUrl }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>
                {{ $t("components.feed_settings.feed_category") }}
              </v-list-item-subtitle>
              <v-list-item-title>
                <feed-category :value="value" class="pl-0 pr-4 text-left" />
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-sheet>
  </v-bottom-sheet>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { mdiMenu } from "@mdi/js";
import { FeedWithItems } from "@/domain/FeedWithItems";
import FeedCategory from "@/components/feeditems-list/FeedCategory.vue";
import { Flags } from "@/plugins/flags";

@Component({
  components: {
    FeedCategory,
  },
})
export default class FeedSettings extends Vue {
  readonly mdiMenu = mdiMenu;

  @Prop({ type: Object, required: true })
  readonly value!: FeedWithItems;

  get showFeedSettings(): boolean {
    return this.$flags[Flags.FEED_SETTINGS] ?? false;
  }
}
</script>
