<template>
  <v-list-item
    :style="{
      opacity: item.read ? 0.5 : undefined,
    }"
    :to="{
      name: 'SingleFeed',
      params: {
        articleUrl: item.articleUrl,
        articleTitle: item.title,
        item: item,
      },
    }"
    :replace="replace"
  >
    <v-list-item-content>
      <span
        :style="{
          'word-break': 'break-word',
        }"
        class="text-h6 font-weight-medium mb-0"
      >
        {{ item.title }}
      </span>
    </v-list-item-content>
    <v-list-item-action class="align-self-start" @click.prevent="">
      <feeditem-menu :item="item" @delete="onDeleteItem" />
    </v-list-item-action>
  </v-list-item>
</template>

<script lang="ts">
import Vue from "vue";
// eslint-disable-next-line
import { FeedItem } from "@/domain/FeedItem";
import { OFFLINE_ARTICLES } from "@/domain/constants";
// eslint-disable-next-line
import FeedItemMenu from "./FeedItemMenu.vue";
import { Actions } from "@/store/Actions";

interface Data {
  menu: boolean;
}

interface Methods {
  onDeleteItem(): void;
}

interface Computed {
  isOfflineItem: boolean;
}

interface Props {
  item: FeedItem;
  replace?: boolean;
}

export default Vue.extend<Data, Methods, Computed, Props>({
  components: {
    "feeditem-menu": FeedItemMenu,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    replace: {
      type: Boolean,
      required: false,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      menu: false,
    };
  },
  computed: {
    isOfflineItem() {
      // FIXME:
      // The usage of `this.$route` creates too much adherence
      // with the router in a semi-dumb component
      return this.$route.params.feedName === OFFLINE_ARTICLES;
    },
  },
  methods: {
    onDeleteItem() {
      if (this.isOfflineItem) {
        // Dans le cas où l'on est en lecture d'un article hors-ligne
        // on veut que le bouton supprimer, annule l'état de sauvegarde.
        // Pour le moment, il n'y a pas vraiment de distinction entre
        // un article issue du cache (sauvegardé) et un article
        // issu du serveur, qui ne serait pas encore lu.
        this.$store.dispatch(Actions.offloadArticle, this.item);
      }

      this.$store.dispatch(Actions.deleteFeedItems, this.item.articleUrl);
    },
  },
});
</script>
