<template>
  <div :class="[{ offline: isOffline, downloaded }, 'loading-icon-container']">
    <svg
      viewBox="0 0 36 36"
      style="display:block"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.0034 27.9944V15.9944M14.0034 21.9944C12.7563 21.9953 11.554 21.5301 10.6322 20.6901C9.71051 19.8502 9.13592 18.6961 9.02121 17.4544C8.9065 16.2126 9.25996 14.9728 10.0122 13.9782C10.7645 12.9836 11.8613 12.3061 13.0874 12.0784C13.3027 10.9321 13.9119 9.89709 14.8096 9.15235C15.7073 8.40761 16.837 8 18.0034 8C19.1697 8 20.2995 8.40761 21.1971 9.15235C22.0948 9.89709 22.704 10.9321 22.9194 12.0784C24.1413 12.3107 25.233 12.9899 25.9812 13.9836C26.7294 14.9772 27.0806 16.214 26.9662 17.4526C26.8518 18.6912 26.28 19.8427 25.3624 20.6825C24.4448 21.5222 23.2472 21.99 22.0034 21.9944H14.0034ZM15.0034 24.9944L18.0034 27.9944L15.0034 24.9944ZM18.0034 27.9944L21.0034 24.9944L18.0034 27.9944Z"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <div class="surrounding-circle">
      <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <circle
          cx="25"
          cy="25"
          r="22"
          :style="{ stroke: isOffline ? 'currentColor' : stroke }"
          :stroke-dasharray="downloadMax"
          :stroke-dashoffset="remainingToDownload"
        />
      </svg>
    </div>
  </div>
</template>

<style>
.loading-icon-container {
  position: relative;
  --distance: 6px;
  padding-right: var(--distance);
  padding-top: var(--distance);
  z-index: 1;
  transition: stroke-opacity 300ms 300ms, stroke-color 300ms 300ms;
}

.loading-icon-container.offline {
  stroke: currentColor;
  stroke-opacity: 0.2;
}

.downloaded {
  animation: scaleUp 300ms;
}

.surrounding-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(-90deg);
  stroke-width: 2;
  fill: none;
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}
</style>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import TWEEN, { Tween } from "@tweenjs/tween.js";
import { OfflineFeedItemStatus } from "@/domain/OfflineFeedItemStatus";

interface HasValue {
  value: number;
}

@Component({})
export default class LoadingIcon extends Vue {
  static END_ANIMATION_DURATION = 300;

  remainingToDownload = 138.23;
  downloadMax = 138.23; // Math.PI * 22 * 2
  myTween?: Tween = undefined;
  downloaded = false;

  @Prop({
    type: Number,
    required: false,
    default: OfflineFeedItemStatus.ONLINE,
  })
  offline!: OfflineFeedItemStatus;

  @Prop({
    type: String,
    default: "dodgerblue",
    required: false,
  })
  stroke!: string;

  get isOffline(): boolean {
    return this.offline === OfflineFeedItemStatus.OFFLINE;
  }

  mounted() {
    if (this.isOffline) {
      this.remainingToDownload = 0;
      return;
    }

    this.tween(this.remainingToDownload, 0.1 * this.downloadMax);
  }

  onTweenUpdate({ value }: HasValue) {
    this.remainingToDownload = value;
  }

  tween(start: number, end: number, duration = 1000) {
    this.myTween = new TWEEN.Tween({ value: start })
      .to({ value: end }, duration)
      .onUpdate(this.onTweenUpdate.bind(this))
      .start();

    function animate(tween?: Tween) {
      return (time: number) => {
        const id = requestAnimationFrame(animate(tween));
        const result = TWEEN.update(time);
        if (!result) {
          cancelAnimationFrame(id);
        }
      };
    }

    requestAnimationFrame(animate(this.myTween));
  }

  @Watch("offline")
  onOfflineChange(
    newOffline: OfflineFeedItemStatus,
    old: OfflineFeedItemStatus
  ) {
    if (newOffline === OfflineFeedItemStatus.OFFLINE && newOffline !== old) {
      if (this.myTween?.isPlaying()) {
        this.myTween?.chain(
          new TWEEN.Tween({ value: 0.1 * this.downloadMax })
            .to({ value: 0 }, 100)
            .onUpdate(this.onTweenUpdate.bind(this))
        );
      } else {
        this.tween(0.1 * this.downloadMax, 0, 200);
      }

      this.myTween?.onComplete(() => {
        this.myTween = undefined;
        this.downloaded = true;
      });
    }
  }
}
</script>
