<template>
  <div>
    <v-list
      :style="{ padding: 0 }"
      v-for="(feed, idx) of feedsWithItems"
      :key="feed.feedUrl"
    >
      <v-subheader style="max-width: 770px;" class="mx-auto">{{
        feed.feedName
      }}</v-subheader>
      <feeditem-list-element
        v-for="item of feed.items"
        :key="item.articleUrl"
        :item="item"
        style="max-width: 770px"
        class="mx-auto"
      />
      <v-divider v-if="idx !== feedsWithItems.length - 1" />
    </v-list>
  </div>
</template>

<style scoped>
.v-list-item:first-of-type {
  padding-top: 12px;
}

.v-list-item:last-of-type {
  padding-bottom: 12px;
}
</style>

<script lang="ts">
import Vue from "vue";
import FeedItemListElement from "./FeedItemListElement.vue";
/* eslint-disable */
import { FeedItem } from "@/domain/FeedItem";
import { asFeedWithItems, FeedWithItems } from "@/domain/FeedWithItems";
/* eslint-enable */

interface Data {
  feedsWithItems: FeedWithItems[];
}

interface Methods {
  getFeedsWithItems(): FeedWithItems[];
}

interface Props {
  feeditems: FeedItem[];
}

export default Vue.extend<Data, Methods, {}, Props>({
  components: {
    "feeditem-list-element": FeedItemListElement,
  },
  props: {
    feeditems: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      feedsWithItems: [],
    };
  },
  methods: {
    getFeedsWithItems() {
      return asFeedWithItems(this.feeditems);
    },
  },
  async created() {
    this.feedsWithItems = await this.getFeedsWithItems();
  },
});
</script>
