<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <meta name="theme-color" value="#eceff1" />
    <meta name="mobile-web-app-capable" value="yes" />
    <meta name="apple-mobile-web-app-capable" value="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="application-name" value="Feather Brief" />
    <meta name="apple-mobile-web-app-title" content="Feather Brief" />

    <link
      href="<%= BASE_URL %>img/icons/fb-icon-48.png"
      rel="apple-touch-icon"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-57.png"
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-72.png"
      rel="apple-touch-icon"
      sizes="72x72"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-76.png"
      rel="apple-touch-icon"
      sizes="76x76"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-120.png"
      rel="apple-touch-icon"
      sizes="120x120"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-152.png"
      rel="apple-touch-icon"
      sizes="152x152"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-192.png"
      rel="icon"
      sizes="192x192"
    />
    <link
      href="<%= BASE_URL %>img/icons/fb-icon-128.png"
      rel="icon"
      sizes="128x128"
    />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      rel="icon"
      href="<%= BASE_URL %>img/icons/fb-icon-16.png"
      type="image/png"
      size="16x16"
    />
    <link
      rel="icon"
      href="<%= BASE_URL %>img/icons/fb-icon-32.png"
      type="image/png"
      size="32x32"
    />
    <link
      rel="icon"
      href="<%= BASE_URL %>img/icons/fb-icon-48.png"
      type="image/png"
      size="48x48"
    />

    <title>Telary news</title>

    <style>
      body {
        margin: 0;
        font-family: Roboto;
      }

      @keyframes bouncing-loader {
        to {
          opacity: 0.1;
          transform: translate3d(0, -1rem, 0);
        }
      }

      .bouncing-loader {
        display: flex;
        justify-content: center;
      }

      .bouncing-loader > div {
        width: 1rem;
        height: 1rem;
        margin: 3rem 0.2rem;
        background: #880E4F;
        border-radius: 50%;
        animation: bouncing-loader 0.6s infinite alternate;
      }

      .bouncing-loader > div:nth-child(2) {
        animation-delay: 0.2s;
      }

      .bouncing-loader > div:nth-child(3) {
        animation-delay: 0.4s;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >Désole, mais pour fonctionner, Feather Brief nécessite d&rquo;Javascript
        d'activé...</strong
      >
    </noscript>

    <div id="app" style="box-sizing:border-box;background-color:#121212;height:100vh;display:flex;justify-content:center;padding-top:15rem;">
      <div class="bouncing-loader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </body>
</html>
