<template>
  <v-container>
    <form
      class="pb-10 pt-10 px-5 mx-auto"
      @submit.prevent="formSubmit"
      style="max-width: 512px;"
    >
      <div v-html="$t('pages.add_feeds_with_opml.from_feedly')" />

      <div class="mt-7 form-group">
        <v-file-input
          required
          filled
          v-model="file"
          color="pink lighten-2"
          label="Votre fichier .OPML"
          accept="application/xml,text/xml,text/x-opml"
          :loading="loading"
        />
      </div>

      <div class="d-flex justify-center">
        <v-btn type="submit" class="mt-3">
          {{ $t("pages.add_feeds_with_opml.import_file") }}
        </v-btn>
      </div>
    </form>

    <v-snackbar v-model="openNotification">
      {{ notification }}
      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          @click="openNotification = false"
          fab
          elevation="0"
        >
          <v-icon>{{ closeIcon }}</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<style scoped>
code {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0;
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mdiClose } from "@mdi/js";

@Component
export default class AddFeedsWithOpml extends Vue {
  file?: File;
  notification?: string;
  loading = false;
  openNotification = false;
  closeIcon = mdiClose;

  notify({ success }: { success?: boolean }): void {
    this.openNotification = true;
    if (success) {
      this.notification = this.$t(
        "pages.add_feeds_with_opml.notifications.success"
      ).toString();
    } else {
      this.notification = this.$t(
        "pages.add_feeds_with_opml.notifications.error"
      ).toString();
    }
  }

  async formSubmit(): Promise<void> {
    if (!this.file) {
      return;
    }

    this.loading = true;

    try {
      await this.$fb.uploadOpml(this.file);
      this.notify({ success: true });
    } catch {
      this.notify({ success: false });
    } finally {
      this.file = undefined;
      this.loading = false;
    }
  }
}
</script>
