<template>
  <v-container style="max-width: 600px">
    <v-form class="mt-8">
      <v-row no-gutters>
        <v-col cols="12">
          <v-autocomplete
            v-model="selectedCategoryLabel"
            ref="input"
            :items="availableCategories"
            :search-input.sync="text"
            :dense="$vuetify.breakpoint.mdAnUp"
            hide-details
            outlined
            clearable
            :loading="loading"
            :disabled="loading"
            :no-data-text="$t('pages.feed_edit_category.no_data_available')"
            :menu-props="{ closeOnClick: true }"
          >
            <template #append-item>
              <template v-if="appendCategoryTemplateShouldBeVisible">
                <v-divider />
                <v-list-item @click.stop="addNewCategory">
                  <v-list-item-icon>
                    <v-icon :size="24">
                      {{ mdiTagPlusOutline }}
                    </v-icon>
                  </v-list-item-icon>
                  <v-list-item-title
                    v-html="
                      $t('pages.feed_edit_category.add_category', {
                        category: text,
                      }).toString()
                    "
                  />
                </v-list-item>
              </template>
            </template>
          </v-autocomplete>
        </v-col>
      </v-row>
      <v-row justify="end">
        <v-col>
          <v-btn
            color="pink accent-2"
            :disabled="!didChange"
            @click="submitCategory"
          >
            {{ $t("constants.ok") }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar v-model="showError" timeout="6000" color="pink darken-2">
      <h3>
        {{ $t("pages.feed_edit_category.errors.cantUpdateCategory.title") }}
      </h3>
      <p>
        {{ $t("pages.feed_edit_category.errors.cantUpdateCategory.message") }}
      </p>

      <template #action="{ attrs }">
        <v-btn icon v-bind="attrs" @click="showError = false">
          <v-icon>{{ mdiClose }}</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import { Category } from "@/domain/Category";
import { Feed } from "@/domain/Feed";
import { Actions as A } from "@/store/Actions";
import { Getters } from "@/store/Getters";
import { mdiClose, mdiTagPlusOutline } from "@mdi/js";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";

@Component
export default class FeedEditCategoryView extends Vue {
  loading = false;
  category = Category.DEFAULT;
  originalCategory = Category.DEFAULT;
  selectedCategoryLabel: string = "";
  text = "";
  showError = false;
  additionalCategories: { value: string; text: string }[] = [];

  readonly mdiClose = mdiClose;
  readonly mdiTagPlusOutline = mdiTagPlusOutline;

  @Prop({ type: Object, required: true })
  readonly feed!: Feed;

  get feedUrl(): string {
    return this.feed.feedUrl ?? "";
  }

  get allFeedCategories(): { value: string; text: string }[] {
    return this.$store.getters[Getters.allCategories].map((cat: string) => ({
      value: cat,
      text: Category.fromApi(cat).label,
    }));
  }

  get availableCategories(): { value: string; text: string }[] {
    return this.allFeedCategories.concat(this.additionalCategories);
  }

  get didChange(): boolean {
    return !this.originalCategory.equals(this.category);
  }

  get textIsEmpty(): boolean {
    return (this.text ?? "").trim() === "";
  }

  get textIsInItems(): boolean {
    const re = new RegExp("^" + this.text + "$", "i");
    return this.availableCategories.some((c) => re.test(c.text));
  }

  get appendCategoryTemplateShouldBeVisible(): boolean {
    return !this.textIsEmpty && !this.textIsInItems;
  }

  addNewCategory(): void {
    if (!this.appendCategoryTemplateShouldBeVisible) {
      return;
    }

    this.additionalCategories.push({
      value: String(this.text.trim()),
      text: String(this.text.trim()),
    });
    this.selectedCategoryLabel = String(this.text.trim());
    (this.$refs.input as any)?.blur();
  }

  async submitCategory(): Promise<void> {
    try {
      this.loading = true;
      await this.$store.dispatch(A.updateFeedCategory, {
        feed: this.feed,
        category: this.category.toString(),
      });
      await this.$router.back();
    } catch {
      this.showError = true;
    } finally {
      this.loading = false;
    }
  }

  @Watch("feed", { immediate: true })
  onFeedChange(feed: Feed): void {
    this.originalCategory = Category.fromFeed(feed);
    this.category = this.originalCategory.clone();
    this.text = this.category.hasDefaultLabel
      ? Category.DEFAULT_LABEL
      : this.category.label;
    this.selectedCategoryLabel = this.text;
  }

  @Watch("selectedCategoryLabel")
  onLabelChange(): void {
    this.category = new Category(this.selectedCategoryLabel);
  }
}
</script>
