<template>
  <div>
    <v-progress-linear indeterminate color="pink darken-4" v-if="loading" />
    <v-progress-linear
      v-else
      :value="progress"
      color="pink darken-4"
      height="6"
      style="position: sticky; top: 0;"
    />

    <v-fade-transition>
      <FeedArticle :article="article" :item="item" />
    </v-fade-transition>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ArticleStatus } from "@/domain/ArticleStatus";
import FeedArticle from "@/components/feed-article/FeedArticle.vue";
import { Actions } from "@/store/Actions";
import { Getters } from "@/store/Getters";
/* eslint-disable */
import { FeedItem } from "@/domain/FeedItem";
import { FeatherBriefArticleParsed } from "@/plugins/feather-brief/IFeatherBrief";
import { NavigationGuardNext, Route } from "vue-router";
/* eslint-enable */

@Component({
  name: "tn-feeditem-page",
  components: { FeedArticle },
})
export default class FeedItemPage extends Vue {
  article: FeatherBriefArticleParsed | null = null;
  item: FeedItem | null = null;
  readTimeout?: number;

  loading = true;
  progress = 0;

  @Prop({ type: String, required: false })
  readonly articleTitle?: string;

  @Prop({ type: String, required: true })
  readonly articleUrl!: string;

  setContent(item: FeedItem, article: FeatherBriefArticleParsed): void {
    this.item = item;
    this.article = article;
    this.loading = false;
  }

  handleScroll(): void {
    this.progress =
      (window.scrollY / (document.body.scrollHeight - window.innerHeight)) *
      100;
  }

  clearReadTimeout(): void {
    if (this.readTimeout) {
      clearTimeout(this.readTimeout);
      this.readTimeout = undefined;
    }
  }

  created() {
    window.addEventListener("scroll", this.handleScroll);

    if (!this.$auth.isAuthenticated) {
      return;
    }

    this.$store.dispatch({
      type: Actions.markFeedItems,
      urls: [this.articleUrl],
      status: ArticleStatus.SHOWN,
    });

    this.readTimeout = setTimeout(() => {
      this.$store.dispatch({
        type: Actions.markFeedItems,
        urls: [this.articleUrl],
        status: ArticleStatus.READ,
      });
    }, 5000);
  }

  beforeDestroy(): void {
    this.clearReadTimeout();
  }

  beforeRouteLeave(_: Route, __: Route, next: NavigationGuardNext): void {
    this.clearReadTimeout();
    next();
  }

  async beforeRouteEnter(
    to: Route,
    _: Route,
    next: NavigationGuardNext
  ): Promise<void> {
    if (!("articleUrl" in to.params)) {
      return next({ name: "ListFeeds" });
    }

    let { articleUrl, item } = to.params;
    return next(async (vm: Vue) => {
      if (!item) {
        item = vm.$store.getters[Getters.byUrl](to.params.articleUrl)
      }
      // @ts-ignore
      vm.setContent(
        item,
        await vm.$fb.parseUrl(articleUrl, vm.$store.state.feedsWithItems ?? [])
      );
    });
  }
}
</script>
