<template>
  <div>
    <v-progress-linear
      absolute
      color="pink accent-2"
      v-if="showProgress"
      indeterminate
    />
    <v-container style="max-width: 1100px;">
      <v-row v-if="hasOfflineFeeds">
        <v-col cols="12">
          <fb-feed-card
            large
            :name="$t('constants.offline_articles')"
            :to="{
              name: 'ListFeedItems',
              params: {
                feedName: $t('constants.offline_articles'),
              },
            }"
          />
        </v-col>
      </v-row>
      <template v-for="(feedWithItems, category) in feedWithItemsByCategory">
        <v-row :key="`${category}__categoryName`">
          <v-col cols="12" class="mt-2 pb-0">
            <h2>{{ getCategoryLabel(category) }}</h2>
          </v-col>
        </v-row>
        <v-row :key="`${category}__items`">
          <v-col
            lg="2"
            sm="3"
            cols="6"
            v-for="feed in feedWithItems"
            :key="feed.feedUrl"
          >
            <fb-feed-card
              border="purple darken-2"
              :name="feed.feedName"
              :to="{
                name: 'ListFeedItems',
                params: {
                  feedName: feed.feedName,
                },
              }"
            >
              <v-chip
                style="position: absolute; top: -5px; right:-5px; background-color:#7b1fa2b8;font-weight:bold"
              >
                {{ feed.items.length }}
              </v-chip>
            </fb-feed-card>
          </v-col>
        </v-row>
      </template>

      <v-row v-if="synced && $store.state.userFeeds.length > 0">
        <v-col cols="12" class="mt-2 pb-0">
          <h2>{{ $t("pages.list_feeds.other_feeds") }}</h2>
        </v-col>
      </v-row>
      <v-row v-if="synced && $store.state.userFeeds.length > 0">
        <fb-missing-feeds :cols="6" :sm="3" :lg="2" />
      </v-row>

      <v-row justify="center">
        <v-col cols="6" class="mt-2">
          <v-tooltip
            :value="onboardTooltip"
            :open-on-hover="false"
            :open-on-click="false"
            :open-on-focus="false"
            bottom
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                :style="{ width: '100%' }"
                :to="{ name: 'NewFeed' }"
                large
                v-bind="attrs"
                v-on="on"
                :class="{
                  'waiting-for-action': onboardTooltip,
                }"
                >{{ $t("pages.list_feeds.add_single_feed") }}</v-btn
              >
            </template>
            <span>{{ $t("pages.list_feeds.onboarding_action") }}</span>
          </v-tooltip>
        </v-col>
      </v-row>
    </v-container>

    <fb-news-dialog />
  </div>
</template>

<style scoped>
.v-application .waiting-for-action.v-btn::before {
  animation: 2s linear infinite alternate shine;
}

@keyframes shine {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 10%;
  }
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import FbNewsDialog from "@/components/news-dialog/NewsDialog.vue";
import FbMissingFeeds from "@/components/missing-feeds/MissingFeeds.vue";
import FbFeedCard from "@/components/feed-card/feed-card.vue";
import { Actions } from "@/store/Actions";
import { Getters } from "@/store/Getters";
import type { FeedWithItems } from "@/domain/FeedWithItems";
import { Category } from "@/domain/Category";

@Component({
  name: "fb-list-feeds",
  components: {
    FbNewsDialog,
    FbMissingFeeds,
    FbFeedCard,
  },
})
export default class ListFeeds extends Vue {
  loading = false;
  showProgress = false;

  async refreshFeeds(): Promise<void> {
    const timeoutId = setTimeout(() => {
      this.showProgress = true;
    }, 200);

    this.loading = !this.synced || this.feeds.length === 0;

    try {
      await Promise.allSettled([
        this.$store.dispatch(Actions.refreshFeedItems),
        this.$store.dispatch(Actions.refreshUserFeeds),
      ]);
    } finally {
      clearTimeout(timeoutId);
      this.showProgress = false;
      this.loading = false;
    }
  }

  get feeds(): FeedWithItems[] {
    return this.$store.state.feedsWithItems;
  }

  get synced(): boolean {
    return this.$store.state.synced;
  }

  get feedWithItemsByCategory(): Record<string, FeedWithItems[]> {
    return this.$store.getters[Getters.itemsGroupedByCategory];
  }

  get hasOfflineFeeds(): boolean {
    return this.feeds.flatMap((f) => f.items).some((f) => f.saved);
  }

  get onboardTooltip() {
    return this.synced && this.feeds.length === 0;
  }

  getCategoryLabel(category: string): string {
    return Category.fromApi(category).label;
  }

  async created() {
    await this.refreshFeeds();
  }
}
</script>
