<template>
  <div>
    <v-progress-linear
      absolute
      height="8"
      indeterminate
      style="z-index: 5"
      color="pink darken-4"
      v-if="loading"
    />
    <div v-if="currentFeed">
      <feed-settings v-if="!isOfflineFeed" :value="currentFeed" />
      <offline-feeditems-list
        v-if="isOfflineFeed"
        :feeditems="currentFeed.items"
      />
      <feeditems-list v-else :feeditems="currentFeed.items" class="mb-12" />
      <delete-feed-button
        class="mt-8 mb-12 pb-12"
        v-if="!isOfflineFeed"
        :feed="currentFeed"
        @deleteFeed="deleteFeed"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { Actions } from "@/store/Actions";
import { FeedItem } from "@/domain/FeedItem";
import { FeedWithItems } from "@/domain/FeedWithItems";
import { OFFLINE_ARTICLES } from "@/domain/constants";
import FeedSettings from "@/components/feeditems-list/FeedSettings.vue";

@Component({
  components: {
    FeedSettings,
    "feeditems-list": () =>
      import("@/components/feeditems-list/FeedItemsList.vue"),
    "offline-feeditems-list": () =>
      import("@/components/feeditems-list/OfflineFeedItemsList.vue"),
    "delete-feed-button": () =>
      import("@/components/feed-deletion-button/FeedDeletionButton.vue"),
  },
})
export default class ListFeedItems extends Vue {
  deleting = false;

  @Prop({ type: String, required: true })
  feedName!: string;

  async created() {
    if (!this.synced) {
      await this.refreshFeedItems();
    }
  }

  get feedsWithItems(): FeedWithItems[] {
    return this.$store.state.feedsWithItems;
  }

  get synced(): boolean {
    return this.$store.state.synced;
  }

  get savedFeedItems(): FeedItem[] {
    return this.feedsWithItems.flatMap((f) => f.items).filter((i) => i.saved);
  }

  get offlineFeed(): FeedWithItems {
    return {
      feedName: OFFLINE_ARTICLES,
      items: this.savedFeedItems,
    };
  }

  get isOfflineFeed(): boolean {
    return this.feedName === OFFLINE_ARTICLES;
  }

  get currentFeed(): FeedWithItems | undefined {
    if (this.isOfflineFeed) {
      return this.offlineFeed;
    }

    const feedWithItems = this.feedsWithItems.find(
      (f) => f.feedName === this.feedName
    );

    return feedWithItems
      ? this.hideShownAndSavedItems(feedWithItems)
      : undefined;
  }

  get loading() {
    return (
      !this.feedsWithItems || this.feedsWithItems.length === 0 || this.deleting
    );
  }

  async deleteFeed(feed: FeedWithItems) {
    this.deleting = true;
    const urls = feed.items.map((f) => f.articleUrl);
    await this.deleteFeedItems(urls);
    this.deleting = false;
  }

  hideShownAndSavedItems(feedWithItems: FeedWithItems): FeedWithItems {
    const items = feedWithItems.items.filter((i) => !i.shown && !i.saved);
    return {
      ...feedWithItems,
      items,
    };
  }

  async refreshFeedItems() {
    await this.$store.dispatch(Actions.refreshFeedItems);
  }

  async deleteFeedItems(urls: string[]) {
    await this.$store.dispatch(Actions.deleteFeedItems, urls);
  }

  @Watch("feedsWithItems")
  onFeedsWithItemsUpdate() {
    // When `currentFeed` is undefined (deleted, not found, ...)
    // or has no item, we replace the current route.
    if (!this.currentFeed?.items.length) {
      this.$router.replace({
        name: "ListFeeds",
      });
    }
  }
}
</script>
