<template>
  <div>
    <v-container>
      <form
        class="pb-10 px-5 mx-auto"
        @submit.prevent="onSubmit"
        :style="{
          maxWidth: '512px',
        }"
      >
        <div class="mt-7 form-group">
          <v-text-field
            filled
            v-model="name"
            :prepend-icon="rssIcon"
            label="Nom"
            required
          />
          <v-text-field
            filled
            v-model="url"
            type="url"
            required
            :prepend-icon="webIcon"
            label="URL"
          />
        </div>

        <div
          class="d-flex px-4 px-sm-16 px-md-0 flex-column flex-md-row justify-center justify-md-space-between mt-5"
        >
          <v-btn
            color="pink accent-3"
            type="submit"
            class="mr-md-2 mr-0 mb-2 mb-md-0 order-md-1"
          >
            {{ $t("pages.new_feed.add_single_feed") }}
          </v-btn>
          <v-btn text replace :to="{ name: 'AddFeedsWithOpml' }">
            {{ $t("pages.new_feed.import_feed") }}
            <v-icon>{{ arrowRightIcon }}</v-icon>
          </v-btn>
        </div>
      </form>
    </v-container>

    <fb-bundle-explorer />
    <feed-explorer @submit="onFeedExplorerSubmit" />

    <v-snackbar :value="!!notification">
      {{ notification }}
      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          icon
          @click="notification = ''"
          fab
          elevation="0"
          color="#690d2f"
          ><v-icon color="white">{{ closeIcon }}</v-icon></v-btn
        >
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mdiArrowRight, mdiClose, mdiRss, mdiWeb } from "@mdi/js";
import FeedExplorer from "@/components/feed-explorer/FeedExplorer.vue";
import BundleExplorer from "@/components/bundle-explorer/BundleExplorer.vue";

/* eslint-disable */
import { Feed } from "@/domain/Feed";
import { TranslateResult } from "vue-i18n";
/* eslint-disable */

export default Vue.extend({
  components: {
    "feed-explorer": FeedExplorer,
    "fb-bundle-explorer": BundleExplorer,
  },
  data() {
    return {
      url: "",
      name: "",
      notification: "" as TranslateResult,
      exploredFeeds: [] as Feed[],
      rssIcon: mdiRss,
      webIcon: mdiWeb,
      arrowRightIcon: mdiArrowRight,
      closeIcon: mdiClose,
    };
  },
  methods: {
    handleFeedAddition(x: Promise<void>) {
      return x.catch((err) => {
        switch (err.message) {
          case "DuplicateFeedError":
            this.notification = this.$t(
              "pages.new_feed.notifications.errors.duplicate"
            );
            break;
          case "CantProcessFeedError":
            this.notification = this.$t(
              "pages.new_feed.notifications.errors.unprocessable"
            );
            break;
          default:
            this.notification = this.$t(
              "pages.new_feed.notifications.errors.unknown"
            );
            break;
        }
      });
    },
    onSubmit() {
      this.handleFeedAddition(
        this.$fb
          .createFeed({ feedUrl: this.url, feedName: this.name })
          .then(() => {
            this.notification = this.$t(
              "pages.new_feed.notifications.success",
              { feedName: this.name }
            );
          })
      ).finally(() => {
        this.url = "";
        this.name = "";
      });
    },
    onFeedExplorerSubmit({ feeds }: { feeds: Feed[] }) {
      let failedCounter = 0;

      feeds
        .map((feed) => () =>
          this.$fb.createFeed(feed).catch(() => {
            failedCounter += 1;
          })
        )
        .reduce((queue: Promise<any>, promise: () => Promise<any>) => {
          // We run every request sequentially
          return queue.then(() => promise());
        }, Promise.resolve())
        .then(() => {
          if (failedCounter > 0) {
            this.notification = this.$tc(
              "pages.new_feed.notifications.errors.explorer_partial",
              failedCounter === feeds.length
                ? 0
                : failedCounter,
              { count: failedCounter, total: feeds.length }
            );
          } else {
            this.notification = this.$tc(
              "pages.new_feed.notifications.explorer_success",
              feeds.length,
              { count: feeds.length }
            )
          }
        });
    },
  },
});
</script>
