<template>
  <div>
    <article-style-container>
      <article class="pt-4 pt-lg-8 px-3">
        <h2>Relativité générale</h2>
        <p>
          La <strong>relativité générale</strong> est une théorie relativiste de
          la gravitation, c'est-à-dire qu'elle décrit l'influence sur le
          mouvement des astres de la présence de matière et, plus généralement
          d'énergie, en tenant compte des principes de la relativité restreinte.
          La relativité générale englobe et supplante la théorie de la
          gravitation universelle d'Isaac Newton qui en représente la limite aux
          petites vitesses (comparées à la vitesse de la lumière) et aux champs
          gravitationnels faibles.
        </p>
        <p>
          Elle est principalement l'œuvre d'Albert Einstein, qui l’a élaborée
          entre 1907 et 1915 et elle est considérée comme sa réalisation
          majeure. Le 25 novembre 1915, il soumet son manuscrit de la théorie de
          la relativité générale à la section de mathématique et de physique de
          l'Académie royale des sciences de Prusse, qui la publie le 2 décembre.
        </p>
        <p>
          Les noms de Marcel Grossmann et de David Hilbert lui sont également
          associés, le premier ayant aidé Einstein à se familiariser avec les
          outils mathématiques nécessaires à la compréhension de la théorie (la
          géométrie différentielle), le second ayant franchi conjointement avec
          Einstein les dernières étapes menant à la finalisation de la théorie
          après que ce dernier lui en eut présenté les idées générales dans le
          courant de l'année 1915.
        </p>
        <p>
          La relativité générale est fondée sur des concepts radicalement
          différents de ceux de la gravitation newtonienne. Elle énonce
          notamment que la gravitation n'est pas une force, mais la
          manifestation de la courbure de l'espace (en fait de l'espace-temps),
          courbure elle-même produite par la distribution de l'énergie, sous
          forme de masse ou d'énergie cinétique, qui diffère suivant le
          référentiel de l'observateurnote 1. Cette théorie relativiste de la
          gravitation prédit des effets absents de la théorie newtonienne mais
          vérifiés, comme l'expansion de l'Univers, les ondes gravitationnelles
          et les trous noirs. Elle ne permet pas de déterminer certaines
          constantes ou certains aspects de l'univers (notamment son évolution,
          s'il est fini ou non, etc.) : des observations sont nécessaires pour
          préciser des paramètres ou faire des choix entre plusieurs
          possibilités laissées par la théorie.
        </p>

        <h3>Généralités</h3>
        <h4>Nécessité d'une théorie relativiste de la gravitation</h4>
        <p>
          La théorie de la gravitation universelle proposée par Newton à la fin
          du XVIIe siècle se fonde sur la notion de force par une action à
          distance, c'est-à-dire le fait que la force exercée par un corps (par
          exemple le Soleil) sur un autre (la Terre) est déterminée par leur
          position relative à un instant donné, et ce quelle que soit la
          distance les séparant, et cette force s'exerçant de manière
          instantanée.
        </p>
      </article>
    </article-style-container>

    <!-- :overlay-opacity="0.1" -->
    <v-bottom-sheet :value="!!model" hide-overlay persistent>
      <v-sheet class="px-4 py-3" elevation="12">
        <v-container>
          <v-row>
            <v-col md="8" offset-md="2" lg="6" offset-lg="3">
              <v-form>
                <div class="d-flex justify-space-between align-center mb-2">
                  <v-switch :input-value="themeAsBoolean" @change="updateTheme">
                    <template #label>
                      <v-icon>
                        {{ icons.mdiWhiteBalanceSunny }}
                      </v-icon>
                    </template>
                    <template #prepend>
                      <v-icon>
                        {{ icons.mdiMoonWaningCrescent }}
                      </v-icon>
                    </template>
                  </v-switch>
                  <v-switch
                    :input-value="fontFamilyAsBoolean"
                    @change="updateFontFamily"
                  >
                    <template v-slot:label>
                      <span
                        class="white--text"
                        style="font-family: var(--font-family--sans), sans-serif; font-size: 1.2rem;"
                      >
                        Sans
                      </span>
                    </template>
                    <template v-slot:prepend>
                      <span
                        class="white--text"
                        style="font-family: var(--font-family--serif), serif; font-size: 1.2rem;"
                      >
                        Serif
                      </span>
                    </template>
                  </v-switch>
                </div>
                <div>
                  <label>
                    <div class="d-flex flex-row">
                      <span>{{
                        $t("pages.reader_settings.font_size.label")
                      }}</span>
                      <v-spacer></v-spacer>
                      <span>{{ `${model.fontSize}px` }}</span>
                    </div>
                    <v-slider
                      v-model.number="model.fontSize"
                      :prepend-icon="icons.mdiFormatAnnotationMinus"
                      :append-icon="icons.mdiFormatAnnotationPlus"
                      thumb-label
                      tick-size="4"
                      ticks="always"
                      min="12"
                      max="22"
                      :step="1"
                    />
                  </label>
                </div>
                <div>
                  <label>
                    <div class="d-flex flex-row">
                      <span>{{
                        $t("pages.reader_settings.line_height.label")
                      }}</span>
                      <v-spacer></v-spacer>
                      <span>{{ model.lineHeight }}</span>
                    </div>

                    <v-slider
                      v-model.number="model.lineHeight"
                      :prepend-icon="icons.mdiFormatLineSpacing"
                      thumb-label
                      tick-size="4"
                      ticks="always"
                      min="1"
                      max="4"
                      :step="0.5"
                    />
                  </label>
                </div>
                <div>
                  <label
                    class="d-flex flex-column flex-sm-row justify-start align-sm-center"
                  >
                    <div>
                      {{ $t("pages.reader_settings.text_align.label") }}
                    </div>
                    <div class="ml-sm-4">
                      <v-radio-group v-model="model.textAlign" row>
                        <v-radio
                          value="justify"
                          :aria-label="
                            $t('pages.reader_settings.text_align.justify')
                          "
                        >
                          <template v-slot:label>
                            <v-icon>{{ icons.mdiFormatAlignJustify }}</v-icon>
                          </template>
                        </v-radio>
                        <v-radio
                          value="left"
                          :aria-label="
                            $t('pages.reader_settings.text_align.left')
                          "
                        >
                          <template v-slot:label>
                            <v-icon>
                              {{ icons.mdiFormatAlignLeft }}
                            </v-icon>
                          </template>
                        </v-radio>
                        <v-radio
                          value="center"
                          :aria-label="
                            $t('pages.reader_settings.text_align.center')
                          "
                        >
                          <template v-slot:label>
                            <v-icon>
                              {{ icons.mdiFormatAlignCenter }}
                            </v-icon>
                          </template>
                        </v-radio>
                        <v-radio
                          value="right"
                          :aria-label="
                            $t('pages.reader_settings.text_align.right')
                          "
                        >
                          <template v-slot:label>
                            <v-icon>
                              {{ icons.mdiFormatAlignRight }}
                            </v-icon>
                          </template>
                        </v-radio>
                      </v-radio-group>
                    </div>
                  </label>
                </div>
                <div v-if="$vuetify.breakpoint.mdAndUp">
                  <label>
                    <div class="d-flex flex-row">
                      <span>{{ $t("pages.reader_settings.width.label") }}</span>
                      <v-spacer />
                      <span>
                        {{ `${model.maxWidth}px` }}
                      </span>
                    </div>
                    <v-slider
                      v-model.number="model.maxWidth"
                      min="400"
                      :max="maxPageWidth"
                      thumb-label
                    />
                  </label>
                </div>
              </v-form>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="8" offset-md="2" lg="6" offset-lg="3">
              <div class="d-flex justify-end">
                <v-btn @click="reinit">
                  {{ $t("pages.reader_settings.action.reinit") }}
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import {
  mdiFormatAnnotationMinus,
  mdiFormatAnnotationPlus,
  mdiFormatAlignLeft,
  mdiFormatAlignRight,
  mdiFormatAlignCenter,
  mdiFormatAlignJustify,
  mdiFormatLineSpacing,
  mdiWhiteBalanceSunny,
  mdiMoonWaningCrescent,
} from "@mdi/js";
import { FontFamilyVars } from "@/plugins/font-family/FontFamily.plugin";
import ArticleStyleContainer from "@/components/feed-article/ArticleStyleContainer.vue";
import {
  Actions,
  Getters,
  ReaderSettingsStyle,
} from "@/store/modules/reader-settings";

@Component({
  components: { ArticleStyleContainer },
})
export default class ReaderSettingsPage extends Vue {
  // maxPageWidth = 900;
  model: ReaderSettingsStyle | null = null;

  icons = {
    mdiFormatAnnotationMinus,
    mdiFormatAnnotationPlus,
    mdiFormatAlignLeft,
    mdiFormatAlignRight,
    mdiFormatAlignCenter,
    mdiFormatAlignJustify,
    mdiFormatLineSpacing,
    mdiWhiteBalanceSunny,
    mdiMoonWaningCrescent,
  };

  get maxPageWidth() {
    return this.$vuetify.breakpoint.mdAndUp
      ? // @ts-ignore
        this.$vuetify.breakpoint.thresholds[
          this.$vuetify.breakpoint.lgAndUp
            ? "lg"
            : this.$vuetify.breakpoint.name
        ] * 0.6
      : 400;
  }

  get currentStyle(): ReaderSettingsStyle {
    return this.$store.getters[Getters.STYLE];
  }

  get fontFamilyAsBoolean(): boolean {
    if (this.model) {
      return this.model.fontFamily === FontFamilyVars.Sans;
    } else {
      return true;
    }
  }

  get themeAsBoolean(): boolean {
    return this.model?.theme === "light";
  }

  reinit(): void {
    this.$store.dispatch(Actions.reinit);
  }

  created(): void {
    this.model = this.currentStyle;
  }

  updateFontFamily(val: boolean) {
    if (this.model) {
      const value: ReaderSettingsStyle["fontFamily"] = val
        ? FontFamilyVars.Sans
        : FontFamilyVars.Serif;
      Vue.set(this.model, "fontFamily", value);
    }
  }

  updateTheme(themeAsBoolean: boolean): void {
    if (this.model) {
      const value: ReaderSettingsStyle["theme"] = themeAsBoolean
        ? "light"
        : "dark";
      Vue.set(this.model, "theme", value);
    }
  }

  @Watch("model", { deep: true })
  onModelUpdated(newModel: ReaderSettingsStyle | null): void {
    console.debug(newModel);
    if (newModel !== null) {
      this.$store.dispatch(Actions.setStyle, newModel);
    }
  }
}
</script>
