<template>
  <div class="container">
    <v-progress-linear
      absolute
      indeterminate
      color="pink darken-2"
      :active="loading"
    />
    <div style="max-width: 770px;" class="mt-3 mx-auto text-center">
      <v-list two-line class="mx-auto text-left">
        <v-list-item v-for="feed of feeds" :key="feed.name">
          <v-list-item-content>
            <v-list-item-title>{{ feed.name }}</v-list-item-title>
            <v-list-item-subtitle class="text-truncate ml-2 mt-2">{{
              feed.url
            }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-btn
        class="mx-auto mt-3"
        color="pink darken-2"
        @click="subscribeToAllFeeds"
        :disabled="loading"
      >
        {{ $t("pages.single_bundle.subscribe") }}
      </v-btn>

      <v-snackbar v-model="openSnackbar" :timeout="5000">
        {{ errorMessage }}
        <template v-slot:action="{ attrs }">
          <v-btn v-bind="attrs" icon color="pink" @click="openSnackbar = false">
            <v-icon>{{ closeIcon }}</v-icon>
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mdiClose } from "@mdi/js";
/* eslint-disable */
import { BundleFeed } from "@/domain/Bundle";
import { sequence } from "@/domain/utils/sequence.promise";
/* eslint-enable */

interface Data {
  errorMessage: string;
  loading: boolean;
  closeIcon: string;
}

interface Methods {
  subscribeToAllFeeds(): Promise<void>;
}

interface Computed {
  openSnackbar: boolean;
}

interface Params {
  bundle: string;
  feeds: BundleFeed[];
}

export default Vue.extend<Data, Methods, Computed, Params>({
  props: {
    bundle: {
      type: String,
      required: true,
    },
    feeds: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      errorMessage: "",
      loading: false,
      closeIcon: mdiClose,
    };
  },
  computed: {
    openSnackbar: {
      get() {
        return !!this.errorMessage;
      },
      set(newValue: boolean) {
        if (!newValue) {
          this.errorMessage = "";
        }
      },
    },
  },
  methods: {
    async subscribeToAllFeeds() {
      this.loading = true;

      let failed = 0;
      await sequence(
        this.feeds.map((feed: BundleFeed) => () =>
          this.$fb
            .createFeed({
              feedName: feed.name,
              feedUrl: feed.url,
            })
            .catch(() => {
              failed += 1;
            })
        )
      );

      if (failed > 0) {
        this.errorMessage = this.$tc(
          "pages.single_bundle.errors.partial_failure",
          failed,
          { count: failed, total: this.feeds.length }
        );
      }

      this.loading = false;
    },
  },
  beforeRouteEnter(to, _, next) {
    return to.params.feeds
      ? next()
      : next({
          name: "NewFeed",
          replace: true,
        });
  },
});
</script>
