<template>
  <v-container class="mb-12 px-0" :style="{ maxWidth: '600px' }">
    <v-list flat class="rounded mt-sm-6" elevation="3">
      <v-subheader>
        {{ $t("pages.settings.section_offline.header") }}
      </v-subheader>
      <v-list-item class="bg-red">
        <v-list-item-content>
          <v-btn
            @click.stop="showClearOfflineDataModal = true"
            :loading="$fb.installing"
            :disabled="showClearOfflineDataModal || $fb.installing"
            class="text-small text-none font-weight-regular"
            >{{ $t("pages.settings.section_offline.action_delete") }}</v-btn
          >
        </v-list-item-content>
      </v-list-item>

      <!-- <fb-checkbox-list-item v-model="allowOfflineData">
          <v-list-item-title>
            Utiliser les données hors-lignes
          </v-list-item-title>
          <v-list-item-subtitle>
            Peut ralentir l'application
          </v-list-item-subtitle>
        </fb-checkbox-list-item> -->
    </v-list>

    <v-divider />

    <v-list elevation="3">
      <v-subheader>
        {{ $t("pages.settings.section_user.header") }}
      </v-subheader>

      <v-list-item v-for="item of ['name', 'email']" :key="item">
        <v-list-item-content>
          <v-list-item-subtitle>
            {{ $t(`pages.settings.section_user.data_${item}`) }}
          </v-list-item-subtitle>
          <v-list-item-title>{{ $auth.user[item] }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <v-btn
            @click.stop="showLogoutModal = true"
            class="red darken-4 text-small text-none font-weight-regular"
          >
            {{ $t("pages.settings.section_user.sign_out") }}
          </v-btn>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider />

    <v-list elevation="3" v-if="showReaderSettings">
      <v-subheader>
        {{ $t("pages.settings.section_reader.header") }}
      </v-subheader>
      <v-list-item>
        <v-list-item-content>
          <v-btn :to="{ name: 'ReaderSettings' }">
            {{ $t("pages.settings.section_reader.goToReaderSettings") }}
          </v-btn>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider />

    <v-list elevation="3" class="rounded">
      <v-subheader>
        {{ $t("constants.app_name") }}
      </v-subheader>

      <v-list-item v-for="item of applicationItems" :key="item.label">
        <v-list-item-content>
          <v-list-item-subtitle class="text-capitalize">{{
            item.label
          }}</v-list-item-subtitle>
          <v-list-item-title>{{ item.value }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <p class="mt-6 mx-4 text-caption text-left text-sm-center">
      {{ $t("pages.settings.section_app.disclaimer") }}
    </p>

    <fb-installation-dialog />

    <v-dialog v-model="showClearOfflineDataModal" max-width="512px">
      <v-card>
        <v-card-title>
          {{ $t("pages.settings.section_offline.modal_title") }}
        </v-card-title>
        <v-card-text>
          {{ $t("pages.settings.section_offline.modal_content") }}
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn class="mr-4" @click="showClearOfflineDataModal = false">
            {{ $t("pages.settings.section_offline.modal_action_cancel") }}
          </v-btn>
          <v-btn @click="deleteAllOfflineData" class="red darken-4">
            {{ $t("pages.settings.section_offline.modal_action_confirm") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showLogoutModal" max-width="512px">
      <v-card>
        <v-card-title>
          {{ $t("pages.settings.section_user.modal_title") }}
        </v-card-title>
        <v-card-text>
          {{ $t("pages.settings.section_user.modal_content") }}
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn class="mr-4" @click="showLogoutModal = false">
            {{ $t("pages.settings.section_user.modal_action_cancel") }}
          </v-btn>
          <v-btn @click="logout" class="red darken-4">
            {{ $t("pages.settings.section_user.modal_action_confirm") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
// FIXME: readd this component, once CachedFeatherBrief can use it.
// import CheckboxListItem from "@/components/theme/CheckboxListItem.vue";

import { version } from "@/../package.json";
import Logoutable from "@/mixins/Logoutable";
import InstallationDialog from "@/components/installation-dialog/InstallationDialog.vue";
import { env, EnvVars as E } from "@/domain/utils/env";
// eslint-disable-next-line
import { TranslateResult } from "vue-i18n";
import { Flags } from "@/plugins/flags";

interface Data {
  allowOfflineData: boolean;
  applicationItems: { label: TranslateResult; value?: string }[];
  showLogoutModal: boolean;
  showClearOfflineDataModal: boolean;
}

interface Methods {
  deleteAllOfflineData(): void;
}

export default Vue.extend<Data, Methods, {}, {}>({
  mixins: [Logoutable],
  components: {
    "fb-installation-dialog": InstallationDialog,
    // "fb-checkbox-list-item": CheckboxListItem,
  },
  data() {
    return {
      allowOfflineData: true,
      showLogoutModal: false,
      showClearOfflineDataModal: false,
      applicationItems: [
        {
          label: this.$t("pages.settings.section_app.data_version"),
          value: version,
        },
        {
          label: this.$t("pages.settings.section_app.data_id"),
          value: env(E.SHORT_COMMIT).getOrElse(),
        },
        {
          label: this.$t("pages.settings.section_app.data_date"),
          value: env(E.JOB_DATE).map((x) => new Date(x).toLocaleString()),
        },
      ].filter(({ value }) => !!value),
    };
  },
  computed: {
    showReaderSettings(): boolean {
      return this.$flags[Flags.READER_SETTINGS] ?? false;
    },
  },
  methods: {
    async deleteAllOfflineData() {
      this.showClearOfflineDataModal = false;
      this.$fb.clear();
      /**
       * we can only observe the installation status
       * if we use the Plugin, and not the class
       *
       * @see @/plugins/feather-brief/FeatherBriefPlugin.ts
       */
      await this.$fb.installSavedFeedItems();
    },
  },
});
</script>

<style></style>
