<template>
  <div>
    <v-progress-linear indeterminate v-if="loading" color="pink accent-2" />
    <v-container v-else class="mb-12" style="max-width: 1100px;">
      <v-row>
        <v-col cols="12" lg="6" offset-lg="3" sm="8" offset-sm="2">
          <v-text-field
            label="chercher un flux"
            clearable
            color="pink darken"
            v-model="searchTerm"
            :clear-icon="closeIcon"
            :prepend-icon="searchIcon"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          lg="2"
          sm="3"
          cols="6"
          v-for="feed in availableFeeds"
          :key="feed.feedUrl"
        >
          <feed-card
            :to="{
              name: 'UserFeedItems',
              params: {
                feedName: feed.feedName,
                feedUrl: feed.feedUrl,
              },
            }"
            border="orange lighten-1"
            :name="feed.feedName"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.gradient {
  background-color: #0cbaba;
  background-image: linear-gradient(16deg, #0cbaba 0%, #380036 74%);
}
</style>

<script lang="ts">
import Vue from "vue";
import { mdiClose, mdiMagnify } from "@mdi/js";
import FeedCard from "@/components/feed-card/feed-card.vue";

// eslint-disable-next-line no-unused-vars
import { Feed } from "@/domain/Feed";
import { Actions } from "@/store/Actions";
import { mapState } from "vuex";

interface Data {
  searchTerm?: string;
  searchIcon: string;
  closeIcon: string;
}

interface Computed {
  feeds: Feed[];
  availableFeeds: Feed[];
  loading: boolean;
}

export default Vue.extend<Data, {}, Computed, {}>({
  components: {
    FeedCard,
  },
  data() {
    return {
      searchTerm: "",
      searchIcon: mdiMagnify,
      closeIcon: mdiClose,
    };
  },
  computed: {
    ...mapState({
      loading: "loading",
      feeds: "userFeeds",
    }),
    availableFeeds() {
      const re = new RegExp(this.searchTerm || "", "i");
      return this.searchTerm?.trim()
        ? this.feeds.filter((feed) => re.test(feed.feedName))
        : this.feeds;
    },
  },
  async created() {
    await this.$store.dispatch(Actions.refreshUserFeeds);
  },
});
</script>
