<template>
  <v-app>
    <app-bar
      :appTitle="appTitle"
    />
    <v-progress-linear indeterminate color="pink darken-4" v-if="loading" />

    <installation-dialog />
    <error-dialog
      :content="dialogContent"
      :open="openDialog"
    />

    <router-view
      v-if="!installing"
      :style="{
        'padding-top': '56px',
        'min-height': '100vh',
      }"
      @title="({ title }) => (appTitle = title)"
    ></router-view>
  </v-app>
</template>

<style>
.v-toolbar__content *:nth-child(3) {
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .v-toolbar__content {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .v-toolbar__content *:nth-child(3) {
    flex-grow: 0;
  }
}

@media screen and (min-width: 960px) {
  .v-toolbar__content {
    max-width: 960px;
  }
}

@media screen and (min-width: 1264px) {
  .v-toolbar__content {
    max-width: 1264px;
  }
}

@media screen and (min-width: 1904px) {
  .v-toolbar__content {
    max-width: 1904px;
  }
}
</style>

<script lang="ts">
import Vue from "vue";
import { mapState } from "vuex";
import InstallationDialog from "@/components/installation-dialog/InstallationDialog.vue";
import ErrorDialog from "@/components/error-dialog/ErrorDialog.vue";
import AppBar from "@/components/app-bar/AppBar.vue";

interface Data {
  openDialog: boolean;
  dialogContent?: string;
  appTitle?: string;
}

interface Computed {
  installing: boolean;
  loading: boolean;
}

export default Vue.extend<Data, {}, Computed, {}>({
  components: {
    "installation-dialog": InstallationDialog,
    "error-dialog": ErrorDialog,
    "app-bar": AppBar,
  },
  data() {
    return {
      openDialog: false,
      dialogContent: undefined,
      appTitle: undefined,
    };
  },
  computed: {
    installing() {
      return this.$fb.installing;
    },
    ...mapState(["loading"])
  },
  errorCaptured(e, component, info) {
    this.openDialog = true;
    this.dialogContent = e.message;

    console.error(e, component, info);

    return false;
  },
  beforeRouteUpdate(to, __, next) {
    this.appTitle = undefined;
    next();
  },
});
</script>
