<template>
  <v-app>
    <div
      style="height: 60%;"
      class="d-flex flex-column align-center justify-center"
    >
      <h1>Telary news</h1>
      <v-btn
        x-large
        :style="{ color: 'white' }"
        color="pink darken-4"
        class="mt-3"
        @click="login"
      >
        <v-icon class="mr-2">{{ accountIcon }}</v-icon>
        {{ $t("pages.home.login") }}
      </v-btn>
    </div>
  </v-app>
</template>

<script>
import { mdiAccountCircle } from "@mdi/js";

export default {
  name: "Home",
  data() {
    return {
      accountIcon: mdiAccountCircle,
    };
  },
  methods: {
    login() {
      this.$auth
        .loginWithRedirect({
          redirect_uri:
            window.location.origin +
            this.$router.resolve({ name: "ListFeeds" }).href,
        })
        .catch(console.error);
    },
  },
};
</script>
