<template>
  <v-dialog modal v-model="installing" style="max-width:770px;">
    <v-card>
      <v-card-title>
        {{ $t("components.installation_dialog.title") }}
      </v-card-title>
      <v-card-text>
        <p>
          {{ $t("components.installation_dialog.content") }}
        </p>
        <v-progress-linear
          v-model="installationProgress"
          color="pink accent-3"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";

interface Computed {
  installing: boolean;
  installationProgress: number;
}

export default Vue.extend<{}, {}, Computed, {}>({
  computed: {
    installing() {
      return this.$fb.installing;
    },
    installationProgress() {
      return this.$fb.installationProgress * 100;
    },
  },
});
</script>
