<template>
  <!-- mt-8 mb-12 pb-12 -->
  <div class="d-flex justify-center ">
    <v-btn @click="askToDeleteFeed">
      <v-icon>{{ closeIcon }}</v-icon>
      {{ $t("components.feed_article.feed_deletion_button.delete_all") }}
    </v-btn>

    <v-dialog v-model="dialog" max-width="512px">
      <v-card>
        <v-card-title>
          {{ __("title") }}
        </v-card-title>
        <v-card-text v-html="__('content', { feedName: feed.feedName })" />
        <v-card-actions>
          <v-spacer />
          <v-btn text color="primary" @click="dialog = false">
            {{ __("action_cancel") }}
          </v-btn>
          <v-btn color="red accent-4" @click="deleteFeed">
            {{ __("action_confirm") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mdiClose } from "@mdi/js";
import { FeedWithItems } from "@/domain/FeedWithItems";
import { TranslateResult } from "vue-i18n";

@Component
export default class FeedDeletionButton extends Vue {
  dialog = false;
  closeIcon = mdiClose;

  @Prop({ type: Object, required: true })
  feed!: FeedWithItems;

  askToDeleteFeed() {
    this.dialog = true;
  }

  deleteFeed() {
    this.dialog = false;
    this.$emit("deleteFeed", this.feed);
  }

  __(key: string, args = {}): TranslateResult {
    return this.$t(
      `components.feed_article.feed_deletion_button.modal.${key}`,
      args
    );
  }
}
</script>
