<template>
  <v-app-bar
    fixed
    style="max-width: 100vw"
    ref="appBar"
    :hide-on-scroll="shouldHideOnScroll"
  >
    <auth-menu class="pl-0" />
    <v-toolbar-title
      style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3)"
      class="font-weight-bold"
    >
      {{ label }}
    </v-toolbar-title>

    <v-btn v-if="shouldUseRefreshIcon" icon @click="refreshFeedItems"
      ><v-icon>{{ refreshIcon }}</v-icon></v-btn
    >
    <v-btn v-else icon v-resize="onResize" @click="goBack"
      ><v-icon>{{ backIcon }}</v-icon></v-btn
    >
  </v-app-bar>
</template>

<style>
@media screen and (min-width: 1100px) {
  .v-toolbar__content {
    flex-direction: row-reverse;
  }
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mdiRefresh, mdiClose, mdiArrowLeft } from "@mdi/js";
import { Actions } from "@/store/Actions";
import AuthMenu from "@/components/auth-menu/AuthMenu.vue";

@Component({ components: { "auth-menu": AuthMenu } })
export default class AppBar extends Vue {
  private windowWidth: number = 0;
  private refreshIcon: string = mdiRefresh;

  @Prop({ type: String, required: false })
  readonly appTitle?: string;

  get label(): string {
    return (
      this.appTitle ||
      this.$route.params?.feedName ||
      this.$route.meta?.title ||
      "Feeds"
    );
  }

  get backIcon(): string {
    return this.windowWidth >= 1100 ? mdiArrowLeft : mdiClose;
  }

  get shouldHideOnScroll(): boolean {
    if (this.$route.name === "SingleFeed") {
      return true;
    }

    if ("appBar" in this.$refs && this.$refs.appBar) {
      (this.$refs.appBar as any).isActive = true;
    }

    return false;
  }

  get shouldUseRefreshIcon(): boolean {
    return this.$route.name === "ListFeeds";
  }

  goBack() {
    if (!this.$auth.isAuthenticated && this.$route.name !== "Home") {
      this.$router.push({ name: "Home" });
      return;
    }

    if (
      window.history.length === 0 ||
      [
        "ListFeedItems",
        "AddFeedsWithOpml",
        "UserFeeds",
        "UserSettings",
      ].includes(this.$route.name || "")
    ) {
      this.$router.push({ name: "ListFeeds" });
      return;
    }

    this.$router.back();
  }

  refreshFeedItems() {
    if (this.$route.name !== "ListFeeds") {
      // We want to force-render the view only if it's
      // ListFeeds. Otherwise, there is no need for it.
      // It shouldn't happen, but we never know...
      return;
    }

    this.$store.dispatch(Actions.refreshFeedItems);
  }

  onResize() {
    this.windowWidth = window.innerWidth;
  }
}
</script>
