<template>
  <v-container v-if="bundles.length > 0" class="pb-6">
    <v-divider class="mx-4" />
    <v-row>
      <v-col cols="12">
        <h2>
          {{ $t('components.bundle_explorer.title') }}
        </h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        v-for="bundle of bundles"
        :key="bundle.name"
        lg="2"
        sm="3"
        cols="6"
      >
        <fb-bundle-list-element :bundle="bundle" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import SingleBundleElement from "./SingleBundleElement.vue";

/* eslint-disable */
import { Bundle } from "@/domain/Bundle";
/* eslint-enable */

interface Data {
  bundles: Bundle[];
}

interface Methods {
  fetchBundles(): Promise<void>;
}

export default Vue.extend<Data, Methods, {}, {}>({
  components: {
    "fb-bundle-list-element": SingleBundleElement,
  },
  data() {
    return { bundles: [] };
  },
  methods: {
    async fetchBundles() {
      this.bundles = await this.$fb.getAllBundles();
    },
  },
  async created() {
    await this.fetchBundles();
  },
});
</script>
>
