<template>
  <FeedCard
    :elevation="4"
    :name="bundle.name"
    border="green accent-3"
    :to="{
      name: 'SingleBundle',
      params: {
        bundle: bundle.name,
        feeds: bundle.feeds,
      },
    }"
  />
</template>

<script lang="ts">
import Vue from "vue";
import FeedCard from "@/components/feed-card/feed-card.vue";
// eslint-disable-next-line
import { Bundle } from "@/domain/Bundle";

interface Props {
  bundle: Bundle;
}

export default Vue.extend<{}, {}, {}, Props>({
  components: {
    FeedCard,
  },
  props: {
    bundle: {
      type: Object,
      required: true,
    },
  },
});
</script>
