<template>
  <v-container v-if="exploredFeeds.length > 0" class="mb-12 pb-12">
    <v-divider class="mx-4" />
    <v-row>
      <v-fade-transition>
        <v-col cols="12">
          <h2>
            {{ $t("components.feed_explorer.title") }}
          </h2>
        </v-col>
      </v-fade-transition>
    </v-row>
    <v-row>
      <v-col
        v-for="feed in exploredFeeds"
        lg="2"
        sm="3"
        cols="6"
        :key="feed.feedUrl"
      >
        <feed-explorer-item :feed="feed" />
      </v-col>
    </v-row>

    <feed-basket @submit="handleSubmit" />
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import FeedBasket from "./FeedBasket.vue";
import FeedExplorerItem from "./FeedExplorerItem.vue";

import { Feed } from "@/domain/Feed";
import { FEED_BASKET_MODULE } from "@/store/modules/feed-basket/useFeedBasketStore";
import { FeedBasketMutations } from "@/store/modules/feed-basket/Mutations";

@Component({
  components: {
    FeedBasket,
    FeedExplorerItem,
  },
})
export default class FeedExplorer extends Vue {
  exploredFeeds: Feed[] = [];

  async created(): Promise<void> {
    try {
      this.exploredFeeds = await this.$fb.exploreFeeds();
    } catch {
      this.exploredFeeds = [];
    }
  }

  handleSubmit(): void {
    const basketContent: Feed[] = this.$store.state[FEED_BASKET_MODULE].basket;
    const urls = new Set(basketContent.map((f) => f.feedUrl).filter(Boolean));
    this.$emit("submit", { feeds: basketContent });
    this.$store.commit(FeedBasketMutations.empty);

    this.exploredFeeds = this.exploredFeeds.filter(
      ({ feedUrl }) => !urls.has(feedUrl ?? "")
    );
  }
}
</script>
