<template>
  <feed-card
    :class="{
      'in-basket': selected,
    }"
    :style="{
      transition: 'opacity 300ms ease-out',
      border: selected ? `1px solid ${selectedBorderColor}` : undefined,
    }"
    :elevation="selected ? 2 : 4"
    :name="feed.feedName"
    @click="toggleItem"
  >
    <v-icon
      :style="{
        position: 'absolute',
        top: '10px',
        right: '10px',
        zIndex: 2,
      }"
      :class="['rotable', selected ? 'rotated' : 'non-rotated']"
      >{{ addItemIcon }}</v-icon
    >
  </feed-card>
</template>

<style scoped>
.rotable {
  transition: transform 400ms;
}

.rotable.non-rotated {
  transform: rotateZ(0deg);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.rotable.rotated {
  transform: rotateZ(225deg);
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.in-basket::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
</style>

<script lang="ts">
import Vue from "vue";
import { mdiPlusCircle } from "@mdi/js";
// eslint-disable-next-line
import { Feed } from "@/domain/Feed";
import { FeedBasketActions } from "@/store/modules/feed-basket/Actions";
import { FeedBasketGetters } from "@/store/modules/feed-basket/Getters";
import FeedCard from "@/components/feed-card/feed-card.vue";
import { colors } from "vuetify/lib";

interface Data {
  addItemIcon: string;
}

interface Methods {
  toggleItem(): void;
}

interface Computed {
  selected: boolean;
  selectedBorderColor: string;
}

interface Props {
  feed: Feed;
}

export default Vue.extend<Data, Methods, Computed, Props>({
  components: {
    "feed-card": FeedCard,
  },
  props: {
    feed: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      addItemIcon: mdiPlusCircle,
    };
  },
  computed: {
    selected() {
      // @ts-ignore
      return this.$store.getters[FeedBasketGetters.exists](this.feed);
    },
    selectedBorderColor() {
      return colors.pink.accent1;
    }
  },
  methods: {
    toggleItem() {
      this.$store.dispatch(
        this.selected
          ? FeedBasketActions.removeFeed
          : FeedBasketActions.addFeed,
        this.feed
      );
    },
  },
});
</script>
