<template>
  <v-snackbar class="basket" v-model="display" timeout="-1">
    <span class="basket-items-number rounded-pill pink darken-1 px-2 py-1 white--text font-weight-bold">{{ size }}</span
    >&nbsp;flux

    <template v-slot:action="{ attrs }">
      <v-btn v-bind="attrs" class="basket-action" text color="pink accent-1" @click="submit">
        {{ $tc('components.feed_explorer.basket_snackbar', size) }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapState } from 'vuex';
import { FEED_BASKET_MODULE } from '@/store/modules/feed-basket/useFeedBasketStore';
import { FeedBasketGetters } from '@/store/modules/feed-basket/Getters';

interface Computed {
  display: boolean;
  size: number;
}

interface Methods {
  submit(): void;
}

export default Vue.extend<{}, Methods, Computed, {}>({
  computed: {
    // @ts-ignore
    ...mapState({
      size: (s: any) => s[FEED_BASKET_MODULE].basket.length
    }),
    display() {
      // @ts-ignore
      return !this.$store.getters[FeedBasketGetters.isEmpty];
    }
  },
  methods: {
    submit() {
      this.$emit("submit");
    },
  },
});
</script>
