<template>
  <v-list-item-group v-model="uniqueSettings">
    <v-list-item>
      <template v-slot:default="{ active }">
        <v-list-item-action>
          <v-checkbox :input-value="active" />
        </v-list-item-action>
        <v-list-item-content>
          <slot></slot>
        </v-list-item-content>
      </template>
    </v-list-item>
  </v-list-item-group>
</template>

<script lang="ts">
/**
 * NOTE: I didn't find anything that worked better
 * than using a list-item-group to get a list-item that
 * is clickable and toggles the checkbox on click.
 * Maybe there is a more straightforward way of doing
 * it since here we use a group for a unique element which
 * defies the purpose of the component in my opinion.
 */
import Vue from "vue";

interface Props {
  value?: boolean;
}

interface Computed {
  uniqueSettings?: number;
}

/**
 * This component is a wrapper around the `list-item-group`
 * to help in building a single checkbox row in a list.
 *
 * ```
 * <template>
 *   <fb-checkbox-list-item v-model="booleanData">
 *     <v-list-item-title>Change Your setting</v-list-item-title>
 *     <v-list-item-subtitle>It's important</v-list-item-subtitle>
 *   </fb-checkbox-list-item>
 * </template>
 *
 * <script>
 * export default {
 *   data() {
 *     return { booleanData: true };
 *   }
 * };
 * <//script>
 * ```
 *
 * @see @/views/UserSettings.vue
 */
export default Vue.extend<{}, {}, Computed, Props>({
  name: "fb-checkbox-list-item",
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    uniqueSettings: {
      get() {
        return this.value ? 0 : undefined
      },
      set(settings: number) {
        this.$emit("input", settings === 0);
      },
    },
  },
});
</script>
