<template>
  <v-container class="mt-4">
    <header>
      <h1>
        {{ $t("components.empty_feed_items_list.title") }}
      </h1>
      <h2>
        {{ $t("components.empty_feed_items_list.subtitle") }}
      </h2>
    </header>
    <img
      class="mt-4 astronaut"
      src="@/assets/astronaut.png"
      :alt="$t('components.empty_feed_items_list.image_alt')"
    />
  </v-container>
</template>

<style scoped>
.astronaut {
  width: 80%;
  max-width: 400px;
  display: block;
  margin: 0 auto;

  animation: disappearing-astronaut 20s ease-out forwards;
}

@keyframes disappearing-astronaut {
  from {
    transform: rotate(0deg);
  }

  95% {
    opacity: 1;
  }

  to {
    scale: 0;
    opacity: 0;
    transform: rotate(30deg);
  }
}
</style>
