<template>
  <span
    :style="{
      position: 'absolute',
      top: 0,
      bottom: 0,
      right: 0,
      width: '100px',
      background: `linear-gradient(to ${reversed ? 'left' : 'right'}, transparent, ${color})`,
    }"
  >
  </span>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    reversed: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    },
    color: {
      type: String,
      required: false,
      default() {
        // @ts-ignore
        return this.$vuetify.theme.dark ? "#1E1E1E" : "white"
      }
    }
  },
});
</script>
