<template>
  <v-card
    :style="style"
    class="pa-2 d-flex align-end feed-card"
    :to="to"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <div
      role="presentation"
      class="gradient-container"
      :style="gradientContainerStyle"
    />
    <h2 :class="{ 'feed-name': true, large: large }">{{ name }}</h2>
    <slot></slot>
  </v-card>
</template>

<style scoped>
.gradient-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: current-color;
  z-index: 0;
}

h2 {
  z-index: 1;
}

.feed-name {
  font-size: 14px;
  line-height: 16px;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.feed-name.large {
  font-size: 1.5rem;
}

.feed-card {
  height: 8rem;
  overflow: hidden;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import colors from "vuetify/lib/util/colors";
// @ts-ignore
import { classToHex } from "vuetify/lib/util/colorUtils";
import {
  Actions,
  Getters,
  // eslint-disable-next-line
  PatternHistory,
  // eslint-disable-next-line
  QueryActionAddKey,
} from "@/store/modules/patterns";

@Component({ name: "feed-card" })
export default class FeedCard extends Vue {
  background = "";
  backgroundDataUrl = "";

  @Prop({ type: String, required: true })
  readonly name!: string;

  @Prop({ type: Boolean, required: false, default: false })
  readonly large!: boolean;

  @Prop({ type: String, required: false })
  readonly border?: string;

  @Prop({ type: Object, required: false })
  readonly to?: any;

  get style(): any {
    const styleOutput: any = { position: "relative" };

    if (this.border) {
      styleOutput.borderBottom = `5px solid ${classToHex(
        this.border,
        colors,
        this.$vuetify.theme
      )}`;
    }

    if (this.backgroundDataUrl) {
      styleOutput.background = `url('${this.backgroundDataUrl}') repeat scroll 0% 0%`;
    }

    return styleOutput;
  }

  get gradientContainerStyle(): Record<string, string> | null {
    return this.background
      ? {
          background: `linear-gradient(${this.large ? 22 : 12}deg, ${
            this.background
          } ${this.large ? 16 : 35}%, transparent)`,
        }
      : null;
  }

  async created() {
    const query: QueryActionAddKey = { key: this.name };
    await this.$store.dispatch(Actions.addKey, query);
    const pattern: PatternHistory | undefined = this.$store.getters[
      Getters.byName
    ](this.name);

    this.background = pattern?.color || "";
    this.backgroundDataUrl = pattern?.background || "";
  }
}
</script>
