<template>
  <div id="app">
    <router-view></router-view>

    <v-snackbar
      v-model="openSnackBar"
      :timeout="-1"
      class="d-flex justify-between"
    >
      <span>{{ $t("pages.app.new_version") }}</span>
      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" @click="reload" text>
          <v-icon>{{ refresh }}</v-icon>
          refresh
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<style lang="scss">
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  font-family: var(--current-font-family), Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}
</style>

<script lang="ts">
import Vue from "vue";
import { mapState } from "vuex";
import { mdiRefresh } from "@mdi/js";

export default Vue.extend({
  data() {
    return {
      refresh: mdiRefresh,
    }
  },
  computed: mapState({
    // @ts-ignore
    openSnackBar: (state) => state.newVersionFound ?? false,
  }),
  methods: {
    reload() {
      window.location.reload();
    },
  },
});
</script>
